extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-4.l-col--md-offset-2.ui-page-banner
                a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-2
                .ui-heading.ui-heading--lvl4.ui-heading--default Статьи
                ul.ui-left-menu
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/articles/sec/volosy/') Волосы
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/articles/sec/litso/') Лицо
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/articles/sec/ruki/') Руки 
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/articles/sec/telo/') Тело
            .l-col.l-col--xs-10.l-col--no-gutters
                .l-grid
                    .l-row
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-articl-cart
                                .ui-articl-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/0c0/0c08706b9e0a3d0e7c2194a0e5294af3.png')")
                                .ui-articl-cart__title
                                    a(href='/articles/okrashivanie-balayazh/') Окрашивание балаяж
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-articl-cart
                                .ui-articl-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/867/867ba8d7f7bf5a9728665f5e4aacdfe4.jpg')")
                                .ui-articl-cart__title
                                    a(href='/articles/vidy-lazerov/') Виды лазерной эпиляции
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-articl-cart
                                .ui-articl-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/0d4/0d4ec29387769416bab18a7b73d39667.jpg')")
                                .ui-articl-cart__title
                                    a(href='/articles/brit-volosy-posle-lasera/') Можно ли брить волосы после лазерной эпиляции
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-articl-cart
                                .ui-articl-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/c5e/c5e3b3c9011edcc346f2f4710dd402b9.jpg')")
                                .ui-articl-cart__title
                                    a(href='/articles/lazernaya-epilyatsiya-bikini/') Лазерная эпиляция бикини
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-articl-cart
                                .ui-articl-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/506/50637edbe6e562b3a2ceedbd830c809f.jpg')")
                                .ui-articl-cart__title
                                    a(href='/articles/biorevitalizatsiya-gialuronovoy-kislotoy/') Биоревитализация гиалуроновой кислотой
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-articl-cart
                                .ui-articl-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/849/849b2f6c3337c6550f20e2c2a1744589.jpeg')")
                                .ui-articl-cart__title
                                    a(href='/articles/bezynektsionnaya-mezoterapiya-litsa/') Безынъекционная мезотерапия лица - восстановление эпидермиса без уколов
                                    
                                    
