extends ../../_layouts/base

block config
  - var baseUrl = '../../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-4.l-col--md-offset-2.ui-page-banner
                a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-12
                .ui-press-detail
                    .ui-press-detail__heading Cosmopolitan апрель 2017
                    .ui-press-detail__date 29 Марта 2017
                    .ui-press-detail__img
                        img.ui-img.ui-press-detail-img(src='http://salonfiore.ru/upload/medialibrary/762/762e772bb1e9bdcd205223ab8b08c31f.jpg', title='FullSizeRender-1.jpg', alt='FullSizeRender-1.jpg')
                    .ui-press-detail__img
                        img.ui-img.ui-press-detail-img(src='http://salonfiore.ru/upload/medialibrary/3ff/3ffd5423960d3e7b821874a38c4bf1b0.jpg', title='FullSizeRender-2.jpg', alt='FullSizeRender-2.jpg')
                    .l-grid.l-grid--container
                        .l-row
                            .l-col.l-col--xs-3
                                a.ui-press-cart-mini(href='/press/women-s-health-july-2016/')
                                    .ui-press-cart-mini__img(style="background-image: url('http://salonfiore.ru/upload/iblock/2e3/2e3fe7c6165a1200b3c3c7052aa77ef7.jpg')")
                                    .ui-press-cart-mini__title Women's Health, июль 2016
                            .l-col.l-col--xs-3
                                a.ui-press-cart-mini(href='/press/schastlivie-roditeli-june-2016/')
                                    .ui-press-cart-mini__img(style="background-image: url('http://salonfiore.ru/upload/iblock/a55/a55debdda4480c432b5f467f801d7ded.jpg')")
                                    .ui-press-cart-mini__title Счастливые родители июнь 2016
                            .l-col.l-col--xs-3
                                a.ui-press-cart-mini(href='/press/fashion-collection-de%D1%81-2016-jan-2017/')
                                    .ui-press-cart-mini__img(style="background-image: url('http://salonfiore.ru/upload/iblock/446/4463e5ab0ecd79fc6a779c5ebc2495bb.png')")
                                    .ui-press-cart-mini__title Fashion Collection декабрь 2016 - январь 2017
                            .l-col.l-col--xs-3
                                a.ui-press-cart-mini(href='/press/domashniy-ochag-june-2016/')
                                    .ui-press-cart-mini__img(style="background-image: url('http://salonfiore.ru/upload/iblock/822/8223df25fe16cf307fbb94de68ea396c.jpg')")
                                    .ui-press-cart-mini__title Домашний Очаг, июнь 2016
                    a.ui-press-detail__link.ui-press-detail__link--uppercase(href='/press/') К списку статей
