extends ../../_layouts/base

block config
    - var baseUrl = '../../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4
                .ui-page-banner
                    a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-12
                .ui-articles-detail
                    .ui-articles-detail__content
                        .ui-articles-detail__heading.ui-heading.ui-heading--lvl4.ui-heading--default Окрашивание балаяж
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/d28/d2869dc57838ef1e7c3d6db467241ddf.png')
                        ol
                            li
                                a.ui-link(href='#advantages') Преимущества техники балаяж
                            li
                                a.ui-link(href='#specialities') Особенности окрашивания балаяж
                            li
                                a.ui-link(href='#technics') Техника выполнения в салоне
                            li
                                a.ui-link(href='#safety') Безопасность процедуры
                            li
                                a.ui-link(href='#differencies') Отличия балаяж от мелирования и окрашивания
                            li
                                a.ui-link(href='#depth') Глубина контраста
                            li
                                a.ui-link(href='#colors') Какие цвета рекомендуют специалисты салона красоты Fiore
                            li
                                a.ui-link(href='#spec-length') Особенности балаяж при короткой, средней и максимальной длине волос
                            li
                                a.ui-link(href='#other-coloration') Балаяж в сочетании с другими видами окрашивания
                            li
                                a.ui-link(href='#look-after') Уход после
                        p
                            | Балаяж – это стиль раскрепощенного отношения к красоте и смелой индивидуальности. Вот уже несколько сезонов модная французская техника окрашивания на пике популярности. Каждая женщина находит в ней что-то свое. Одним она нравится естественным и непринужденным видом, тем, что нет радикального изменения образа и страха что-то проиграть в экспериментах с внешностью. Другие ценят долговременность эффекта, свое время и минимальное воздействие на здоровье.
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/0ab/0ab1c897203e497e00f1b688a4964833.png')
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Итак, преимущества окрашивания в технике балаяж:
                        ul
                            li мягкий контраст для ненавязчивого, стильного эффекта;
                            li длина обрабатывается не полностью – только кончики и отдельные пряди;
                            li масса возможностей для творческих экспериментов;
                            li это окрашивание волос подходит для любого цвета, длины и структуры;
                            li возможность играть с образом, радикально не меняя основной цвет;
                            li прическа долго сохраняет вид – до 3-6 месяцев.
                        p
                            | Стиль балаяж создает эффект легких, летних, играющих солнцем прядей, придает рельефность и сексуальность. Это «звездное» окрашивание идет всем. Вариаций множество. Вы можете выбрать балаяж на русые волосы в сочетании с каскадными и «рваными» стрижками. Или сделать балаяж на темные волосы, независимо от вида стрижки: боб, удлиненное и обычное каре, градуировка. Результат окрашивания отлично выглядит, если вы носите челку, и ничуть не менее интересно смотрится без челки. При окрашивании балаяж на стрижках без челки стилисты обычно выделяют передние локоны, обрамляющие лицо.
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/c80/c8098da9a9e9bbf92e926f5cbda22f74.png')
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/813/8135ccbeaf06cd9c48d92c545c8e3971.png')
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/27d/27d14ee7cd01c368b22382713f35208d.png')
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Особенности техники балаяж
                        p
                            | Техника этого окрашивания довольно сложная, стилист использует несколько близких по гамме тонов и обрабатывает только нижние части прядей. В результате образуются плавные цветовые сочетания, один цвет мягко вливается в другой, прическа выглядит необычно и очень натурально. Как правило, окрашивание волос не требует специальных приспособлений, достаточно кисти с фольгой.
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Техника выполнения процедуры в салоне
                        ul
                            li моем голову специальным шампунем для более безопасной и стойкой пигментации;
                            li тщательно расчесываем пряди и группируем их, в зависимости от желаемого рисунка и плотности «бликов»;
                            li собираем локоны в хвостики и оборачиваем фольгой нижнюю часть;
                            li наносим кисточкой красящий состав, выдерживаем и смываем;
                            li применяем закрепляющие и ухаживающие средства.
                        p
                            | Наши мастера в совершенстве владеют техникой, что гарантирует получение предсказуемого результата – именно того образа, к которому вы стремитесь.
                        p
                            b Комментарий нашего стилиста Ирины Колесниковой:
                        p
                            i «За счет гармоничного осветления выборочных прядей объемно и эффектно выглядят как длинные прически, ровные или подстриженные каскадом, так и средние и короткие стрижки. Техника окрашивания балаяж – настоящее искусство. Возможна игра с двумя и больше тонами, близкими или контрастными, с плавными цветовыми переходами или причудливым геометрическим рисунком. Чтобы получить именно тот результат, на который вы рассчитываете, выбирайте опытного стилиста, который найдет оттенки, идеально гармонирующие именно с вашим цветом».
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Безопасность процедуры окрашивания
                        p
                            | Главное преимущество техники балаяж – щадящее воздействие и отсутствие предварительного обесцвечивания. Эту технологию придумали французские стилисты специально для женщин, которым важно сохранить природную мягкость, шелковистость и нежность волос и, в то же время, придать им глянцевую «изюминку».
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/ab5/ab5f5521e88618a61dbe263ce466bda1.png')
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/9de/9de27493f9f4199271aca8c713508bc7.png')
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/ed8/ed890c4986f2ceb4ede28a891a178513.png')
                        p
                            | Повторять окрашивание достаточно раз в 3-4 месяца, здесь нет проблемы отрастающих кончиков – сколько бы ни прошло времени от посещения салона, ваша прическа выглядит ухоженно и естественно.
                        p
                            | Периодичность повторного нанесения пигментов может быть чаще при ускоренном росте, а также колоризации коротких стрижек – в таких случаях возобновлять цвет придется раз в 2 месяца, поэтому желательно выбирать щадящие препараты и пользоваться хорошей ухаживающей косметикой между процедурами, не забывать об увлажняющих и питательных сыворотках и масках, рекомендованных стилистом.
                        p
                            b Наш комментарий (Наталья Гуляева):
                        p
                            i «Балаяж подходит для волос любой длины и толщины, отлично маскирует седину. Эту технику выбирают женщины разного возраста – она универсальна и можно с уверенностью сказать, что идет практически всем».
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Отличие от мелирования и окрашивания
                        p
                            | В сравнении с более радикальными способами изменить цвет, балаяж сохраняет ваш природный или подобранный стилистом основной оттенок. Его очень мягко оттеняют и визуально обогащают более светлые пряди – прическа выглядит так, будто вы только что вернулись с южного курорта, при этом волосы остаются живыми, послушными и блестящими. По мере отрастания эффект окрашивания плавно стирается, но это совершенно незаметно окружающим – все выглядит очень естественно. В отличие от тотального окрашивания, здесь нет жестких интервалов посещения салона, чтобы поддерживать аккуратный вид прически.
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Глубина контраста
                        p
                            | Балаяж – это не обязательно только плавные переходы с разницей в 2-3 тона. Если главная цель – сохранить естественность, разница основного цвета и высветленных прядей будет минимальной. Но иногда хочется перемен, чего-то феерического. Тогда создаются глубокие гармоничные контрасты на 5 и более тонов – выглядит это очень ярко и неординарно. Еще один интересный вариант – контраст на 1 тон для имитации солнечной игры в контрастирующих прядках. Какой бы вариант вы ни выбрали, сохраняются все преимущества техники – минимальное химическое воздействие, длительный эффект и отсутствие проблем с отрастающими кончиками.
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Какие цвета рекомендуют наши стилисты?
                        p
                            | Если выполняется окрашивание балаяж на темные волосы, выигрышно выглядят кофейные, каштановые оттенки, шоколад, бронза, баклажан, иногда вишневый и рыжий. Чистый блонд великолепно сочетается с платиновыми оттенками. Окрашивание балаяж на русые волосы гармонирует с золотистым и пепельным. Возможны и креативные комбинации с розовым или лазурным. Конечно, возможностей для контрастирования больше у брюнеток, светловолосым женщинам предлагаются естественные переходы с имитацией красивых отражений и бликов.
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/3f5/3f5d38f43a62f0071a8a72e7943293d2.png')
                        p
                            b Комментарий нашего стилиста Виктории Бабаян:
                        p
                            i «Выполняя окрашивание, важно удачно выбрать оттенки, чтобы добиться максимально плавного движения от темного тона к светлому».
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Особенности окрашивания при короткой, средней и максимальной длине
                        p
                            | Балаяж отлично сочетается с любой длиной, но есть некоторые особенности, о которых нужно знать, если вы собираетесь сделать это окрашивание.
                    .ui-articles-detail__subsection Короткие стрижки:
                    .ui-articles-detail__content 
                        ul
                            li техника окрашивания сложнее, от мастера требуется больше виртуозности и чувства цвета;
                            li повторное окрашивание необходимо немного чаще – примерно раз в полтора-два месяца, особенно при ярком цвете.
                    .ui-articles-detail__subsection Длинные и средние прически:
                    .ui-articles-detail__content 
                        ul
                            li на длинных волосах балаяж окрашивание смотрится лучше всего;
                            li для средней длины подойдут любые приемы – она универсальна и сочетается с техникой окрашивания как длинных, так и коротких стрижек.
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Можно ли делать балаяж в комплексе с окрашиванием, мелированием или обесцвечиванием?
                        p
                            b Комментарий нашего стилиста Ирины Колесниковой:
                        p
                            i «Балаяж допустимо делать как на натуральных волосах, так и на равномерно окрашенных. Для получения эффектного результата достаточно точно подобрать нужные тона для осветления и контрастирования. Что касается обесцвеченных, на них «техника бликов» не применяется – создать даже слабый контраст в таком случае не удастся. То же самое касается мелированных прядей – смешивать эти техники окрашивания в одной прическе бессмысленно. А вот структура, плотность, толщина прядей может быть совершенно любой. Очень нежные и сияющие образы получаются на кудрявых и завитых прическах, а длинные и прямые становятся более живыми и объемными».
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Уход после окрашивания
                        p
                            | Уход после балаяж, как и после любого другого окрашивания, состоит в подборе увлажняющих средств и применении щадящей косметики для максимально долгого сохранения цвета. Поскольку вредное воздействие при частичном окрашивании существенно меньше, на здоровые волосы безболезненно переносят эту процедуру и практически не требуют какого-то сложного ухода. В нашем салоне мастер порекомендует вам хорошие средства, полностью подходящие вашей структуре и цвету.
                        p
                            | Как вы видите, балаяж – это не что-то экзотическое, а универсальная техника, у которой очень мало «противопоказаний», а эстетические возможности практически безграничны. Окрашивание балаяж, выполненное в салоне опытным стилистом, подарит вам модный «звездный» образ и неповторимое сияние.
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/139/13990a897f6c66955db1439fa7bfb041.png')
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/101/101ab5c64216a495a00d0fd3aae46761.png')
                        .ui-articles-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/18d/18dc9771e1b6fbee70351cddc0a0303f.png')
                        a.ui-link.ui-link--uppercase(href='/articles/') К списку новостей
                .ui-articles-detail
                    .ui-articles-detail__content
                        .ui-articles-detail__heading.ui-heading.ui-heading--lvl4.ui-heading--default Другие статьи
                .l-grid
                    .l-row
                        .l-col.l-col--xs-12.l-col--md-4.l-col--lg-4.l-col--xs-flex
                            .ui-articl-cart
                                .ui-articl-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/867/867ba8d7f7bf5a9728665f5e4aacdfe4.jpg')")
                                .ui-articl-cart__title
                                    a(href='/articles/vidy-lazerov/') Виды лазерной эпиляции
                        .l-col.l-col--xs-12.l-col--md-4.l-col--lg-4.l-col--xs-flex
                            .ui-articl-cart
                                .ui-articl-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/0d4/0d4ec29387769416bab18a7b73d39667.jpg')")
                                .ui-articl-cart__title
                                    a(href='/articles/brit-volosy-posle-lasera/') Можно ли брить волосы после лазерной эпиляции
                        .l-col.l-col--xs-12.l-col--md-4.l-col--lg-4.l-col--xs-flex
                            .ui-articl-cart
                                .ui-articl-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/c5e/c5e3b3c9011edcc346f2f4710dd402b9.jpg')")
                                .ui-articl-cart__title
                                    a(href='/articles/lazernaya-epilyatsiya-bikini/') Лазерная эпиляция бикини
                    
                            
