extends ../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--md-offset-3.l-col--lg-offset-2
                .ui-page-banner
                    a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-12.l-col--md-3.l-col--lg-2
                .ui-heading.ui-heading--lvl4.ui-heading--default Акции
                ul.ui-left-menu
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/team/') Наша команда
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/gallery/') ФОТОГАЛЕРЕЯ
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/articles/') Статьи
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/consult/') Консультации специалистов
            .l-col.l-col--xs-12.l-col--md-9.l-col--lg-10
                .ui-heading.ui-heading--lvl4 НАША КОМАНДА
                .ui-view
                    span Вид
                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/icon5.png')
                    a(href='#photo') Фото
                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/icon6.png')
                    a(href='#list') Список
                .l-grid
                    .l-row
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--xs-flex
                            .ui-team-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/ed4/ed4002b6a34e4c30de090b8e3eee4aa4.jpg')")
                                .ui-team-cart__name
                                    a(href='/about/team/aleksandrova-ekaterina') Александрова Екатерина
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
                                .ui-team-cart__post 
                                    span Парикмахер-стилист
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--xs-flex
                            .ui-team-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/20d/20dbdc57a7b7f42713144f69221fe2b7.jpg')")
                                .ui-team-cart__name
                                    a(href='/about/team/babayan-viktoriya/') Бабаян Виктория
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
                                .ui-team-cart__post 
                                    span Мастер маникюра
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--xs-flex
                            .ui-team-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/088/088edaf5ea8c83d134e4f7a70ce80fa6.jpg')")
                                .ui-team-cart__name
                                    a(href='/about/team/gulyaeva-natalya/') Гуляева Наталья
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
                                .ui-team-cart__post 
                                    span Парикмахер-стилист
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--xs-flex
                            .ui-team-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/113/1137e12bc6825c5c160360ce4a6450df.jpg')")
                                .ui-team-cart__name
                                    a(href='/about/team/egorova-natalya/') Егорова Наталья
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
                                .ui-team-cart__post 
                                    span Косметолог эстетист, специалист по эпиляции LYCON
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--xs-flex
                            .ui-team-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/49a/49acb3c077c21487a98d82d5466046eb.jpg')")
                                .ui-team-cart__name
                                    a(href='/about/team/zakharova-yuliya/') Захарова Юлия
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
                                .ui-team-cart__post 
                                    span Парикмахер-стилист
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--xs-flex
                            .ui-team-cart(style="background-image: url('http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/foto15.png')")
                                .ui-team-cart__name
                                    a(href='/about/team/kovalenko-olga-/') Коваленко Ольга
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
                                .ui-team-cart__post 
                                    span Мастер маникюра
                                    img(src='http://salonfiore.ru/bitrix/templates/fiore_inner_transparent/img/bg-text.png')
