extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-12.l-col--md-5.l-col--lg-4.l-col--md-offset-2.l-col--lg-offset-2
                .ui-page-banner
                    a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-12.l-col--md-2.l-col--lg-2
                ul.ui-left-menu
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/hair/') Волосы
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/face/') Лицо
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='javascript:void(0)') Тело
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/hand/') Руки + Ноги
            .l-col.l-col--xs-12.l-col--md-10.l-col--lg-10
                .l-grid
                    .l-row
                        .l-col.l-col--xs-12
                            .ui-page-header
                                 a.ui-page-header__link(href='/', title='Салон Fiore') Салон Fiore
                                 span &nbsp; - Тело
                     .l-row
                         .l-col.l-col--xs-12
                             .ui-heading.ui-heading--lvl2.ui-heading--default Тело
                    .l-row
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-8.l-col--xs-flex
                            .ui-services-cart
                                .ui-services-cart__title 
                                    a(href='/body/bandazhnye-obertyvaniya/') Бандажные обертывания
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--xs-flex
                            .ui-services-cart
                                .ui-services-cart__title 
                                    a(href='/body/vodoroslevye-obertyvaniya/') Водорослевые обертывания
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--xs-flex
                            .ui-services-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/58b/58be99af803b3a890746435c5e3da477.jpg')")
                                .ui-services-cart__title 
                                    a(href='/body/voskovaya-epilyatsiya-epilyatsiya-voskom/') Восковая эпиляция (эпиляция воском)
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-8.l-col--xs-flex
                            .ui-services-cart
                                .ui-services-cart__title 
                                    a(href='/body/lazernaya-epilyatsiya/') Лазерная эпиляция
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-8.l-col--xs-flex
                            .ui-services-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/79b/79bbcbbf66ecfa86e6b5f26f86a3403d.jpg')")
                                .ui-services-cart__title 
                                    a(href='/body/epilyatsiya-bikini/') Эпиляция бикини
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--xs-flex
                            .ui-services-cart
                                .ui-services-cart__title 
                                    a(href='/body/epilyatsiya-muzhchin/') Эпиляция для мужчин
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--xs-flex
                            .ui-services-cart
                                .ui-services-cart__title 
                                    a(href='/body/epilyatsiya-nog/') Эпиляция ног
                        .l-col.l-col--xs-12.l-col--md-6.l-col--lg-8.l-col--xs-flex
                            .ui-services-cart
                                .ui-services-cart__title 
                                    a(href='/body/epilyatsiya-ruk/') Эпиляция рук
                    .l-row
                        .l-col.l-col--xs-12
                            .ui-othersservices-cart
                                .ui-othersservices-cart__title Еще услуги
                                .l-grid.l-grid--container
                                    .l-row
                                        .l-col--xs-12.l-col--md-6
                                            a.ui-othersservices-cart__link(href='/body/prays-list-telo/') Прайс лист Тело
                                        .l-col--xs-12.l-col--md-6
                                            a.ui-othersservices-cart__link(href='/body/prays-list-telo/') Прайс лист Тело
