extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .ui-map.ui-map--lg
        .ui-map__layout
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-12
                .ui-contact
                    .ui-contact__header Салон Fiore на Ордынке
                    .ui-text Большая Ордынка д. 13/9, 2-й этаж
                    .ui-text (м. Третьяковская / м. Новокузнецкая)
                    .ui-text__title График работы
                    .ui-text Пн–Сб: 10:00–22:00, Вс: 10:00–20:00
                    .ui-text__title Телефон
                    .ui-text 8 (495) 953-98-15, 8 (495) 953-99-18
                    a.ui-link(href="#") info@salonfiore.com
