extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-4.l-col--md-offset-2.ui-page-banner
                a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-2
                .ui-heading.ui-heading--lvl4.ui-heading--default Акции
                ul.ui-left-menu
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2009/') 2009
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2010/') 2010
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2011/') 2011
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2012/') 2012
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2013/') 2013
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2014/') 2014
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2015/') 2015
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2016/') 2016
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2017/') 2017
            .l-col.l-col--xs-10.l-col--no-gutters
                .l-grid.l-grid--container
                    .l-row
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/c8a/c8a528a955ce2ae727762700823c5a90.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/detail/') Halloween Party 26-27-28 октября!
                                .ui-sale-cart__date 23 Октября 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/733/733a723a1690d131468f00da50edd447.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/2017/coolifting/') Coolifting - новинка года! Минус 10 лет за 5 минут
                                .ui-sale-cart__date 17 Сентября 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/7f9/7f982c840525c8561c68b3b414b0d125.png')")
                                .ui-sale-cart__title
                                    a(href='/sale/2017/fiore-na-lady-mail-ru/') Fiore на lady.mail.ru
                                .ui-sale-cart__date 30 Апреля 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/729/7291d4a956a624796fa5a9a597f54b9b.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/detail/') Органическая косметика O’right - новинка
                                .ui-sale-cart__date 30 Апреля 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/d05/d0541d511a093b2123ee414d700db4a9.png')")
                                .ui-sale-cart__title
                                    a(href='/sale/2017/khurma-karambola/') Сезонная программа Sothys «Хурма Карамбола»
                                .ui-sale-cart__date 23 Апреля 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/95e/95e683711cc4bf5ef210e1ff8386337f.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/2017/novinki-sothys-4-domashnikh-ukhoda/') Новинки Sothys - 4 домашних ухода и сыворотки
                                .ui-sale-cart__date 23 Апреля 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/518/518e8785c4ab84a99cb03e7cea7253c4.jpgg')")
                                .ui-sale-cart__title
                                    a(href='/sale/detail/') 30% off в апреле на лазерную эпиляцию от 2-х зон
                                .ui-sale-cart__date 1 Января 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/9fb/9fb3d7356e8601efb6d24b5a82b1ed5c.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/2016/secrets-de-sothys-creme128/') Secrets De Sothys® La Crème 128 – хит осени-2016
                                .ui-sale-cart__date 19 Октября 2016
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/3f7/3f7c5dcb73730074acabd4fa3c742187.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/2016/v-den-rozhdeniya-skidka-20/') В День рождения скидка - 20%
                                .ui-sale-cart__date 16 Октября 2016
                    .l-row
                        .l-col.l-col--xs-12
                            .ui-heading.ui-heading--lvl5 Прошедшие акции и новости
                    .l-row
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/7b6/7b61d14f6e91c5b394283504b4c13d6c.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/2017/7-8-9-marta-20-skidka/') 7-8-9 марта 20% скидка на все!
                                .ui-sale-cart__date 4 Марта 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/6c6/6c6c7e7b0fe99c3f82e6e7816b99621f.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/2016/protsedura-sothys-idealniy-oval-2016/') Процедура Sothys "Идеальный овал" новинка осени '2016
                                .ui-sale-cart__date 17 Сентября 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/252/252cb8b30d16bd4223ccce960365f775.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/2016/40-off-rf-lifting/') 40% off на первую процедуру РФ лифтинга!
                                .ui-sale-cart__date 30 Августа 2016
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/7ff/7ffed21153f3ef4ff5cfca3472183689.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/2016/sale-1/') В День Рождения  скидка — 20%
                                .ui-sale-cart__date 16 Августа 2016
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/190/1906f7fe253d1fb3b90847e3e17522d9.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/2014/organicheskoe-okrashivanie-organic-colour-systems/') ОРГАНИЧЕСКОЕ ОКРАШИВАНИЕ ORGANIC COLOUR SYSTEMS
                                .ui-sale-cart__date 17 Октября 2014
    
