extends ../../_layouts/base

block config
  - var baseUrl = '../../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--md-offset-3.l-col--lg-offset-2
                .ui-page-banner
                    a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-12.l-col--md-3.l-col--lg-2
                .ui-heading.ui-heading--lvl4.ui-heading--default Тело
                ul.ui-left-menu
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='javascript:void(0)') Бандажные обертывания
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/body/vodoroslevye-obertyvaniya/') Водорослевые обертывания
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/body/epilyatsiya-muzhchin/') Эпиляция для мужчин
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/body/epilyatsiya-bikini/') Эпиляция бикини
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/body/voskovaya-epilyatsiya-epilyatsiya-voskom/') Восковая эпиляция (эпиляция воском)
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/body/lazernaya-epilyatsiya/') Лазерная эпиляция
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/body/epilyatsiya-ruk/') Эпиляция рук
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/body/epilyatsiya-nog/') Эпиляция ног
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/body/prays-list-telo/') Прайс лист Тело
            .l-col.l-col--xs-12.l-col--md-9.l-col--lg-10
                .ui-page-header
                     a.ui-page-header__link(href='/', title='Салон Fiore') Салон Fiore
                     span &nbsp; - &nbsp;
                     a.ui-page-header__link(href='/body/', title='Тело') Тело
                     span &nbsp; - &nbsp; Бандажные обертывания
                .ui-services-detail
                    .ui-services-detail__heading Бандажные обертывания
                    .ui-services-detail__content 
                        .ui-services-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/3f6/3f67826ac23006e0ba08407fdef9eb43.jpg')
                        p
                            | Бандажные обертывания – интенсивная методика лимфодренажа с применением эластичных бинтов, пропитанных антицеллюлитным моделирующим составом. Высокая эффективность процедуры объясняется одновременным действием двух факторов – бинтовой компрессии и биостимулирующих препаратов молекулярного действия Dibi, направленных на решение эстетических проблем и восстановление мышечного тонуса.
                        p
                            | Клинические испытания подтверждают, что бандажное обертывание Dibi Body Tech:
                        ul
                            li уменьшает объем жировой ткани в проблемных зонах на 2-3 см;
                            li разглаживает кожу, измененную целлюлитом;
                            li дает устойчивый результат после 5-7 сеансов;
                            li улучшает состояние и тонус кожи уже после первого сеанса.
                        p
                            | Особенность бандажного обертывания Dibi Body Tech – в молекулярной доставке к глубоким слоям эпидермиса активных веществ, которые:
                        ul
                            li насыщают кожу экстрактами растений и минералами;
                            li стимулируют обмен веществ и выработку коллагена;
                            li деструктивно действуют на жировую ткань;
                            li выводят лишнюю жидкость и токсины;
                            li ускоряют регенерацию тканей.
                        p
                            | Эффект после курса обертываний в салоне красоты держится 3 месяца. Чтобы стабилизировать результат на больший срок, достаточно проходить профилактические курсы с периодичностью, рекомендованной косметологом.
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Результат бандажного обертывания в салоне красоты Fiore в Москве
                        p
                            | Кожа становится заметно более молодой, свежей, эластичной. Исчезают целлюлитные неровности, бугорки, отечность, улучшается и выравнивается цвет.
                        p
                            | Контур тела приобретает отточенный рельеф, бедра и ягодицы визуально утончаются, сохраняя выразительность линий, область талии становится более изящной.
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Влияние обертываний на обмен веществ и здоровье
                        p
                            | Токсины, удерживаемые в клетках из-за низкой активности лимфатической системы, выходят вместе с ненужной жидкостью и жировой тканью. Чувствуется легкость, бодрость, жизненный тонус. Интенсивно обновляются клетки, ускоряется синтез коллагена и эластина. Происходит насыщение кислородом, вследствие чего активизируются все биологические процессы в тканях.
                        p
                            | Уникальность молекулярных бандажных обертываний Dibi в том, что они не просто решают косметологическую проблему, а корректируют работу организма на микроуровне, устраняя причины нарушений обмена веществ, замедленного крово- и лимфообращения. Еще одна особенность технологии – быстродействие. Ни один другой косметологический продукт не дает столь заметного результата после первой процедуры, поэтому обертывание Dibi мы рекомендуем в тех случаях, когда нужно срочно привести кожу и фигуру в порядок, восстановить тургор кожи, убрать отеки, улучшить состояние кожи.
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default О профессиональной косметике Dibi для обертывания
                        p
                            img.ui-img.ui-img__left(src='http://salonfiore.ru/upload/medialibrary/097/097005af36fd1246365982ebe8c05605.jpg', align="left")
                            | Бинты для похудения и моделирования тела Dibi Body Tech – разработка компании Alfaparf Group, известной своими научными идеями в области косметологии и профессионального ухода за телом. При составлении активных формул для бинтовых обертываний эксперты Dibi используют молекулярные технологии, в сотни раз повышающие эффективность минералов, витаминов, растительных экстрактов, других активных компонентов.
                        p
                            | В линейке корректирующего бандажа представлены бинты с пропитками разнонаправленного действия:
                        ul
                            li с дренажным и противоцеллюлитным эффектом;
                            li с липолитическим и тонизирующим эффектом.
                        p
                            | В каждую из формул пропитки включен запатентованный компонент Prevention Cellular Capital, обновляющий материнские клетки эпидермиса. Другая активная составляющая – легкоусвояемая гиалуроновая кислота с продольно-поперечными связями для интенсивного увлажнения.
                        p
                            | Лимфодренажная программа обертываний устраняет отеки, избавляет от тяжести в ногах, выравнивает кожу, придает ей упругость даже после беременности или резкого похудения, корректирует целлюлит и предотвращает его появление.
                        p
                            | Липолитическая программа в салоне красоты сокращает объем жира, локализованного в проблемных областях. Совместное действие ингредиентов пропитки понижает жировой индекс, стимулирует насыщение кислородом и метаболизм, выводит жидкость и токсины из подкожной ткани.
                        p
                            | Чередуя бинты для обертываний разного типа, удается получить комплексный устойчивый результат:
                        ul
                            li смоделировать силуэт;
                            li избавиться от целлюлита и подтянуть кожу;
                            li наполнить клетки влагой и укрепить стенки сосудов;
                            li избавиться от жировых отложений.
                        p
                            b За счет каких компонентов действует Dibi Body Tech?
                        p
                            | В формулу обертываний входят минералы, пептиды, фитоэкстракты, витамины, морские водоросли:
                        ul
                            li железо – стимулирует клеточное дыхание и обновление, насыщая кислородом все слои эпидермиса;
                            li цинк – ускоряет ток лимфы и крови, интенсивно выводит шлаки;
                            li селен – мощный антиоксидант, способствует обновлению и омоложению;
                            li пептиды меди – запускают синтез коллагена, улучшая структуру кожи;
                            li объемные пептиды – наполняют подкожные «пустоты», натягивают, разглаживают кожу;
                            li экстракт женьшеня – антивозрастной и лифтинг-эффект;
                            li кофеин – сильный биоактиватор, улучшает метаболизм, сжигая жировую ткань;
                            li витамины для регенерации и омоложения кожи;
                            li гиалуроновая кислота – вещество с уникальными увлажняющими свойствами;
                            li водоросли – насыщают эпидермис незаменимыми микроэлементами, улучшают тонус.
                        p
                            | На начальных стадиях варикоза бандажное обертывание действует как тонизирующая процедура, укрепляющая стенки сосудов, предотвращающая их дальнейшее растяжение и образование сосудистой сетки.
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Показания к бандажному обертыванию в салоне красоты
                        ul
                            li жировые отложения и отечность;
                            li целлюлит;
                            li нарушения кровообращения и обмена веществ;
                            li утрата упругости и эластичности;
                            li дефицит влаги, дряблость кожи;
                            li начальные стадии варикозной болезни.
                        p
                            | На начальных стадиях варикоза бандажное обертывание действует как тонизирующая процедура, укрепляющая стенки сосудов, предотвращающая их дальнейшее растяжение и образование сосудистой сетки.
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Бандажные обертывания Dibi: этапы процедуры
                        p
                            img.ui-img.ui-img__left(src='http://salonfiore.ru/upload/medialibrary/b0a/b0a563b98b12ec2765425609e118b271.jpg', align="left")
                            | Бинтовые бандажные обертывания просты и удобны. Каждая эластичная лента, пропитанная сывороткой, упакована в отдельную одноразовую упаковку и готова к применению. Длина лент (14 и 12 м) оптимальна для полного охвата всей проблемной зоны и достижения необходимой компрессии.
                        ol
                            li Сначала косметолог готовит вашу кожу к процедуре: наносит легкий скраб, чтобы облегчить проникновение активных компонентов, и выполняет легкий поглаживающий массаж.
                            li Затем на 30 минут вас «заворачивают» в бинты и укрывают одеялом. Вы чувствуете легкость и приятное тепло, разливающееся по телу. Если вы захотите совместить уход за телом с полезными процедурами для лица, мы предложим индивидуальную программу, которую косметолог составит специально для вас. Это может быть набор процедур, нацеленных на улучшение структуры кожи, увлажнение, лифтинг, омоложение либо комплексный уход.
                            li Через 30 минут специалист салона красоты снимает бинты и сразу же наносит на кожу увлажняющие и антицеллюлитные средства, продлевающие эффект.
                        p
                            | Возможно применение бандажного обертывания в любых температурных режимах, в том числе без термоодеяла, если есть противопоказания к тепловым процедурам.
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Противопоказания к бандажному обертыванию
                        ul
                            li период беременности или естественного кормления;
                            li проблемы с сердцем, гипертония;
                            li эндокринные заболевания;
                            li новообразования и гинекологические болезни в проекции наложения бинтов;
                            li дерматиты;
                            li серьезные заболевания лимфатической и венозной систем, тромбофлебит.
                        .ui-articles-detail__title.ui-heading.ui-heading--lvl5.ui-heading--default Как долго сохраняется эффект?
                        p
                            | Минимальная устойчивость результата – 3 месяца. В течение всего этого периода клетки продолжают работать в обновленном режиме, активно вырабатывая эластин, коллаген, гиалуроновую кислоту. Все это способствует улучшению метаболизма и тонуса кожи. Если периодически проводить корректирующие сеансы, эффект сохраняется до 6 месяцев.
                        p
                            | В салоне красоты Fiore в Москве бандажные обертывания выполняют специалисты, прошедшие обучение работе с инновационными продуктами Dibi Body Tech для моделирования силуэта и упругости кожи. Мы используем технику нанесения бинтов, рекомендованную разработчиком для оптимальной компрессии и проникновения активных веществ. Для ухода после процедуры применяем запатентованные профессиональные антицеллюлитные продукты Dibi, чтобы закрепить и продлить эффект.
                
                            
                            
                    
                
