extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-4.l-col--md-offset-2.ui-page-banner
                a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-2
                .ui-heading.ui-heading--lvl2.ui-heading--pink Пресса
            .l-col.l-col--xs-10.l-col--no-gutters
                .l-grid.l-grid--container
                    .l-row
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-press-cart
                                a.ui-press-cart__img(rel='group1', title='Cosmopolitan апрель 2017', href='', style="background-image: url('http://salonfiore.ru/upload/iblock/657/6578b5a90a47d355237b086e028de901.jpg')")
                                .ui-press-cart__title
                                    a(href='/press/detail/') Cosmopolitan апрель 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-press-cart
                                a.ui-press-cart__img(rel='group1', title='Fashion Collection декабрь 2016 - январь 2017', href='http://salonfiore.ru/upload/iblock/167/167d5ab53fc65055398f7474f8514c78.png', style="background-image: url('http://salonfiore.ru/upload/iblock/446/4463e5ab0ecd79fc6a779c5ebc2495bb.png')")
                                .ui-press-cart__title
                                    a(href='/press/fashion-collection-de%D1%81-2016-jan-2017/') Fashion Collection декабрь 2016 - январь 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-press-cart
                                a.ui-press-cart__img(rel='group1', title="Women's Health, июль 2016", href='http://salonfiore.ru/upload/iblock/24a/24a799bd0608c1f16ac723a0296282fc.jpg', style="background-image: url('http://salonfiore.ru/upload/iblock/2e3/2e3fe7c6165a1200b3c3c7052aa77ef7.jpg')")
                                .ui-press-cart__title
                                    a(href='/press/women-s-health-july-2016/') Women's Health, июль 2016
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-press-cart
                                a.ui-press-cart__img(rel='group1', title='Домашний Очаг, июнь 2016', href='http://salonfiore.ru/upload/iblock/cff/cffae997b25262cf8ab6818275632602.jpeg', style="background-image: url('http://salonfiore.ru/upload/iblock/822/8223df25fe16cf307fbb94de68ea396c.jpg')")
                                .ui-press-cart__title
                                    a(href='/press/detail/') Домашний Очаг, июнь 2016
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-press-cart
                                a.ui-press-cart__img(rel='group1', title='Счастливые родители июнь 2016', href='http://salonfiore.ru/upload/iblock/690/6907e4675a4d5012a88a3c032a2028a4.png', style="background-image: url('http://salonfiore.ru/upload/iblock/a55/a55debdda4480c432b5f467f801d7ded.jpg')")
                                .ui-press-cart__title
                                    a(href='/press/schastlivie-roditeli-june-2016/') Счастливые родители июнь 2016
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-press-cart
                                a.ui-press-cart__img(rel='group1', title="Woman's Health, апрель 2016", href='http://salonfiore.ru/upload/iblock/516/51657c35e94489801ac5c3e5e1c3e23b.jpg', style="background-image: url('http://salonfiore.ru/upload/iblock/ed0/ed0e73cf9307133b3d771e0c71134295.jpg')")
                                .ui-press-cart__title
                                    a(href='/press/woman-s-health-april-2016/') Woman's Health, апрель 2016
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-press-cart
                                a.ui-press-cart__img(rel='group1', title='Fashion Collection, март 2016', href='http://salonfiore.ru/upload/iblock/b68/b68a9d52e15576f6394c7ebfbd925126.png', style="background-image: url('http://salonfiore.ru/upload/iblock/d59/d598dda08dba08d21c7809c93a0144be.jpg')")
                                .ui-press-cart__title
                                    a(href='/press/detail/') Fashion Collection, март 2016
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-press-cart
                                a.ui-press-cart__img(rel='group1', title='Grazia, 15 марта 2016', href='http://salonfiore.ru/upload/iblock/5fb/5fba4da2a6a83d75a17e9eaa73fc6680.jpg', style="background-image: url('http://salonfiore.ru/upload/iblock/e12/e122a2051c9a0c133f0f48f5e1cd08b5.jpg')")
                                .ui-press-cart__title
                                    a(href='/press/grazia-march-15-2016/') Grazia, 15 марта 2016
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-press-cart
                                a.ui-press-cart__img(rel='group1', title='Grazia, 1 марта 2016', href='http://salonfiore.ru/upload/iblock/f00/f0035ccac100c8ac7e0cb1e5fd24cbaf.jpg', style="background-image: url('http://salonfiore.ru/upload/iblock/915/915a56c0a22c6ffa73ba0cb95c610e4f.jpg')")
                                .ui-press-cart__title
                                    a(href='/press/grazia-march-1-2016/') Grazia, 1 марта 2016
                    .l-row
                        .l-col.l-col--xs-12
                            .ui-page-navigation
                                .ui-page-navigation__title Страницы:
                                a.ui-page-navigation__item.ui-page-navigation__item--active 1
                                a.ui-page-navigation__item(href='/press/pagen_2/') 2
                                a.ui-page-navigation__item(href='/press/pagen_3/') 3
                                a.ui-page-navigation__item(href='/press/pagen_4/') 4
                                a.ui-page-navigation__item(href='/press/pagen_5/') 5
                            
