extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .content
      .h5-online
        .news-list
          p#bx_1454625752_1642.news-item
            a.banner(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .clear
      .h5-left
        h1 Пресса
      .h5-right
        style(type='text/css').
          .photos-column{
          position: relative;
          width: 240px;
          float: left;
          margin-right: 15px;
          }
          .photos-column.column-2{
          margin: 0px;
          }
          .news-page{
          text-align: center;
          }
          .news-page span{
          float:none;
          test:test;
          }
        #itemBlockHandler
          .photos-column.column-0
            #bx_719294866_1609.news-page
              a.fancybox(rel='group1', title='Cosmopolitan апрель 2017', href='')
                span
                  img(src='http://salonfiore.ru/upload/iblock/657/6578b5a90a47d355237b086e028de901.jpg', alt='')
                br
              a(href='/press/detail/') Cosmopolitan апрель 2017
            #bx_719294866_1517.news-page
              a.fancybox(rel='group1', title='Домашний Очаг, июнь 2016', href='http://salonfiore.ru/upload/iblock/cff/cffae997b25262cf8ab6818275632602.jpeg')
                span
                  img(src='http://salonfiore.ru/upload/iblock/822/8223df25fe16cf307fbb94de68ea396c.jpg', alt='')
                br
              a(href='/press/detail/') Домашний Очаг, июнь 2016
            #bx_719294866_1461.news-page
              a.fancybox(rel='group1', title='Fashion Collection, март 2016', href='http://salonfiore.ru/upload/iblock/b68/b68a9d52e15576f6394c7ebfbd925126.png')
                span
                  img(src='http://salonfiore.ru/upload/iblock/d59/d598dda08dba08d21c7809c93a0144be.jpg', alt='')
                br
              a(href='/press/detail/') Fashion Collection, март 2016
            #bx_719294866_1308.news-page
              a.fancybox(rel='group1', title='Grazia, декабрь 2015', href='http://salonfiore.ru/upload/iblock/382/382960a041b2c07f6d6d90598c3017e4.jpg')
                span
                  img(src='http://salonfiore.ru/upload/iblock/6f7/6f7fde3bbfa6eddec634fa04cc96b3b0.jpg', alt='')
                br
              a(href='/press/detail/') Grazia, декабрь 2015
            #bx_719294866_1467.news-page
              a.fancybox(rel='group1', title='Домашний Очаг, ноябрь 2015', href='http://salonfiore.ru/upload/iblock/516/516c88a007011204582945c70f534a6b.jpg')
                span
                  img(src='http://salonfiore.ru/upload/iblock/569/569a9d72b6e9abf83fa82ede16d426b8.jpg', alt='')
                br
              a(href='/press/detail/') Домашний Очаг, ноябрь 2015
          .photos-column.column-1
            #bx_719294866_1600.news-page
              a.fancybox(rel='group1', title='Fashion Collection декабрь 2016 - январь 2017', href='http://salonfiore.ru/upload/iblock/167/167d5ab53fc65055398f7474f8514c78.png')
                span
                  img(src='http://salonfiore.ru/upload/iblock/446/4463e5ab0ecd79fc6a779c5ebc2495bb.png', alt='')
                br
              a(href='/press/fashion-collection-de%D1%81-2016-jan-2017/') Fashion Collection декабрь 2016 - январь 2017
            #bx_719294866_1601.news-page
              a.fancybox(rel='group1', title='Счастливые родители июнь 2016', href='http://salonfiore.ru/upload/iblock/690/6907e4675a4d5012a88a3c032a2028a4.png')
                span
                  img(src='http://salonfiore.ru/upload/iblock/a55/a55debdda4480c432b5f467f801d7ded.jpg', alt='')
                br
              a(href='/press/schastlivie-roditeli-june-2016/') Счастливые родители июнь 2016
            #bx_719294866_1460.news-page
              a.fancybox(rel='group1', title='Grazia, 15 марта 2016', href='http://salonfiore.ru/upload/iblock/5fb/5fba4da2a6a83d75a17e9eaa73fc6680.jpg')
                span
                  img(src='http://salonfiore.ru/upload/iblock/e12/e122a2051c9a0c133f0f48f5e1cd08b5.jpg', alt='')
                br
              a(href='/press/grazia-march-15-2016/') Grazia, 15 марта 2016
            #bx_719294866_1432.news-page
              a.fancybox(rel='group1', title='Портал "Живи", декабрь 2015', href='http://salonfiore.ru/upload/iblock/5c2/5c2648f73d5407c717ad01542376305e.jpg')
                span
                  img(src='http://salonfiore.ru/upload/iblock/aab/aab19e13676ab48f46d1f159e7b7671c.jpg', alt='')
                br
              a(href='/press/foto-1-okrashivanie/') Портал "Живи", декабрь 2015
            #bx_719294866_1464.news-page
              a.fancybox(rel='group1', title='Hello, 17 ноября 2015', href='http://salonfiore.ru/upload/iblock/9e7/9e71228d818b1f6a9a7be766d6cebf27.JPG')
                span
                  img(src='http://salonfiore.ru/upload/iblock/edb/edb7c2a5805ff79d302c20b9b7f9dba2.jpg', alt='')
                br
              a(href='/press/hello-november-17-2015/') Hello, 17 ноября 2015
          .photos-column.column-2
            #bx_719294866_1602.news-page
              a.fancybox(rel='group1', title="Women's Health, июль 2016", href='http://salonfiore.ru/upload/iblock/24a/24a799bd0608c1f16ac723a0296282fc.jpg')
                span
                  img(src='http://salonfiore.ru/upload/iblock/2e3/2e3fe7c6165a1200b3c3c7052aa77ef7.jpg', alt='')
                br
              a(href='/press/women-s-health-july-2016/') Women's Health, июль 2016
            #bx_719294866_1463.news-page
              a.fancybox(rel='group1', title="Woman's Health, апрель 2016", href='http://salonfiore.ru/upload/iblock/516/51657c35e94489801ac5c3e5e1c3e23b.jpg')
                span
                  img(src='http://salonfiore.ru/upload/iblock/ed0/ed0e73cf9307133b3d771e0c71134295.jpg', alt='')
                br
              a(href='/press/woman-s-health-april-2016/') Woman's Health, апрель 2016
            #bx_719294866_1459.news-page
              a.fancybox(rel='group1', title='Grazia, 1 марта 2016', href='http://salonfiore.ru/upload/iblock/f00/f0035ccac100c8ac7e0cb1e5fd24cbaf.jpg')
                span
                  img(src='http://salonfiore.ru/upload/iblock/915/915a56c0a22c6ffa73ba0cb95c610e4f.jpg', alt='')
                br
              a(href='/press/grazia-march-1-2016/') Grazia, 1 марта 2016
            #bx_719294866_1462.news-page
              a.fancybox(rel='group1', title="Woman's Health_ноябрь 2015", href='http://salonfiore.ru/upload/iblock/a9a/a9a729186b4c9c823286a82ef37c4ee1.jpg')
                span
                  img(src='http://salonfiore.ru/upload/iblock/489/48989b6156cc39bcf4e21d7b80235ef3.jpg', alt='')
                br
              a(href='/press/woman-s-health-november-2015/') Woman's Health_ноябрь 2015
            #bx_719294866_1465.news-page
              a.fancybox(rel='group1', title='Cosmopolitan, ноябрь 2015', href='http://salonfiore.ru/upload/iblock/d8c/d8c0cbc860106a5fc21379dae9a5d893.jpg')
                span
                  img(src='http://salonfiore.ru/upload/iblock/193/1930d5fbb98ad4d851ada5541ac95deb.jpg', alt='')
                br
              a(href='/press/cosmopolitan-november-2015/') Cosmopolitan, ноябрь 2015
          .clear
        br
        .modern-page-navigation
          span.modern-page-title Страницы:
          span.modern-page-first.modern-page-current 1
          a(href='/press/pagen_2/') 2
          a(href='/press/pagen_3/') 3
          a(href='/press/pagen_4/') 4
          a(href='/press/pagen_5/') 5
        .clear
      .clear
