extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .content
      .h5-online
        .news-list
          p#bx_1454625752_1642.news-item
            a.banner(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .clear
      .h5-left
        span.h1 Отзывы
        ul.left-menu-services
          li
            // noindex
            // googleoff:all
            a(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2014') 2014
            // noindex
            // googleon:all
          li
            // noindex
            // googleoff:all
            a(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2013') 2013
            // noindex
            // googleon:all
          li
            // noindex
            // googleoff:all
            a(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2012') 2012
            // noindex
            // googleon:all
          li
            // noindex
            // googleoff:all
            a(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2011') 2011
            // noindex
            // googleon:all
          li
            // noindex
            // googleoff:all
            a(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2010') 2010
            // noindex
            // googleon:all
          li
            // noindex
            // googleoff:all
            a(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2015') 2015
            // noindex
            // googleon:all
          li
            // noindex
            // googleoff:all
            a(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2016') 2016
            // noindex
            // googleon:all
          li
            // noindex
            // googleoff:all
            a(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2017') 2017
            // noindex
            // googleon:all
      .h5-right
        #modal.form(style='display: none; padding: 0px;')
          form#reviewForm(action='/bitrix/templates/fiore_main/ajax.form.handler.php', method='post')
            .f-box
              .f-box2
                input(type='hidden', name='form_type', value='review')
                h3 Оставить отзыв
                p
                  | Краткое описание. Японский бренд, являющийся одним из лидеров мирового рынка, где представляет профессиональную косметику.
                .inp
                  span Имя
                  input(name='name', type='text', value='')
                  span Эл. почта
                  input(name='email', type='text', value='')
                  span Отзыв
                  textarea(name='message')
                  div(style='clear:both;')
                .important Обязательные поля
                input.sbmt(type='submit', value='Отправить')
        #comp_010b697c072902a3517bd8bd707ec199
          .question1.mbottom
            a.button-review.fancybox(href='#modal') Оставить отзыв
            p
              | Расскажите нам, что вы думаете о нашей компании, и сотрудниках. Если вы оставите свои координаты, то мы сможем связаться с вами.
          .clear
          .articles
            #itemBlockHandler
              #bx_3302092990_1617.reviews1
                .reviews1-info
                  | Ольга
                  br
                  | 15 Мая 2017
                p
                p
                  | Алёнушка - чудо-мастер! Настоящий профессионал. Деликатная, внимательная,  отзывчивая. К ней хочется приходить снова! Считаю, что именно так и должен выглядеть  настоящий косметолог: идеально ухожено! Уверена: такой специалист может сделать красивыми своих клиентов!!!
                p
                .clear
              #bx_3302092990_203.reviews1
                .reviews1-info
                  | Наталья
                  br
                  | 22 Февраля 2013
                p
                  | Я уже несколько лет являюсь постоянным клиентом салона на Ордынке.
                  br
                  | Наконец-то появилось время написать о своих впечатлениях.
                  br
                  | Косметология:
                  br
                  | девочки Равида и Катя — вы умнички и настоящие профессионалы: био-эпиляция у Равиды практически безболезненна, и позитив от общения остается надолго, а результат курса пилингов лица у Катерины заметили даже на работе, под слоем тонального крема.
                  br
                  | Косметолог Юлия (эпиляция сахаром) тоже большой молодец, с тех пор, как Равида в декрете, хожу только к ней.
                  br
                  | Маникюр:
                  br
                  | Марина Лакеева — отличный мастер и душевный человек, удачи и счастья!
                  br
                  | Парихмахерские услуги:
                  br
                  | Гуляева Наталья — очень красивые вечерние укладки, по стрижкам ничего не могу сказать, а вот биоламинирование (Label) сожгло мне волосы. После консультаций в других салонах выяснила, что такие последствия от этого продукта не только у меня. Пожелание администрации салона и мастерам — переходите на Sebastian.
                  br
                  | Колесникова Ирина — истинно творческий человек, укладки замечательные, однако ее привычка брать на стрижку одновременно несколько человек нравится не всем клиентам, но всегда можно договориться об индивидуальном обслуживании.
                  br
                  | Макияж:
                  br
                  | была один раз (имя мастера не запомнила), не понравилось — макияж глаз был болезненным, цвета подобраны неинтересно. Я сама редко крашусь и надеялась на «свежее» решение со стороны мастера — ожидания не оправдались.
                  br
                  | Администраторы:
                  br
                  | все девочки корректные и позитивные, стараются максимально удовлетворить пожелания клиента, сэкономить его время, молодцы!
                  br
                  | Ценовая политика салона:
                  br
                  | цены на услуги радуют, для салона в центре Москвы — очень и очень демократично. Конечно, хотелось бы иметь скидку постоянного клиента:)
                  br
                  | Желаю салону дальнейшего развития, а персоналу — удачи и счастья!
                .clear
              #bx_3302092990_202.reviews1
                .reviews1-info
                  | ЕЛЕНА КАЛВЕЛЛО
                  br
                  | 12 Декабря 2012
                p
                  | Лишний раз убедилась в профессионализме наших русских мастеров, большое спасибо Юлии Захаровой. После фитоламинирования, сделанного ее легкими волшебными руками, мои волосы просто ожили. ЮЛИЯ, помимо того что является настоящим профессионалом, также очень остроумная, веселая и приятная в общении девушка. К сожалению редко встретишь среди парикмахеров таких образованных и эрудированных людей. Так держать! Она придает определенный вес и имидж салону. БОЛЬШОЕ ВАМ СПАСИБО ЮЛИЯ! Комплименты!
                .clear
              #bx_3302092990_201.reviews1
                .reviews1-info
                  | Анна
                  br
                  | 3 Декабря 2012
                p
                  | Хочу сказать ОГРОМНОЕ СПАСИБО мастеру Карену Вштуни! До того, как попала к нему в первый раз, я красилась хной года три. Очень хотелось измениться, но никто не брался из-за хны, и все отказывали. Карен оказался единственным мастером, который согласился попробовать, и теперь я не пойду ни к кому другому — он делает с моими волосами что-то потрясающее. Они никогда так не лежали, а качество волос, несмотря на осветление, ни капельки не пострадало! Я в восторге не только от результата, но и от самого процесса работы мастера — начиная от мытья головы и заканчивая сушкой феном, Карен не только профессионал высочайшего уровня, но и очень приятный человек:)
                .clear
              #bx_3302092990_200.reviews1
                .reviews1-info
                  | Лариса
                  br
                  | 27 Ноября 2012
                p
                  | Пару недель назад было очень для меня важное мероприятие, как обычно оставалось мало времени и я забежала в первый салон, который увидела. FIORE- вы лучшие! За час стилист Трушникова Наталья сделала на моей голове что-то волшебное, а мастер маникюра Ольга очень качественно выполнила маникюр. В вашем районе у вас нет конкурентов, хочу отдельно сказать спасибо админитраору, очень грамотная девушка.
                .clear
              #bx_3302092990_199.reviews1
                .reviews1-info
                  | Ангелина
                  br
                  | 26 Ноября 2012
                p
                  | Дея, потрясающий парикмахер! Спасибо больше за ваши прически из кос, все мои знакомые Ахнули от такой красоты. Думаю скоро на Ваше плетеие будет очередь. Еще раз большое спасибо! процветания и удачи!
                .clear
              #bx_3302092990_198.reviews1
                .reviews1-info
                  | Татьяна
                  br
                  | 23 Ноября 2012
                p На маникюр только к Клоковой Ольге, лучшее покрытие френч!
                .clear
              #bx_3302092990_197.reviews1
                .reviews1-info
                  | Константин
                  br
                  | 11 Ноября 2012
                p
                  | Александрова Екатерина- Вы открытие для салона. Лучшая мужская стрижка в моей жизни, теперь вся семья обращается к этому специалисту.
                .clear
              #bx_3302092990_195.reviews1
                .reviews1-info
                  | Инна
                  br
                  | 16 Октября 2012
                p
                  | Была в салоне пару раз у разных стилистов и результаты просто замечательные. Стрижка на длинные волосы была выполнена настолько хорошо, что необходимости снова идти стричься не возникало довольно долго, волосы отрастая лежали просто идеально. Однако есть одно но в вопросе ценообразования. То, что цены высокие, это одно, но как говорится на каждый товар свой купец. Не хочешь, не иди. Дело не в этом, а втом, что даже заранее узнав приблизительную стоимость покраска волос и расчитывая на это, ну плюс, может тысяча, в итоге сумма удваивается в два с половиной, а то и в три раза. И как результат вместо, 4,5 тысяч как говорит администратор получаются все одиннадцать. хочется с самого начала услышать окончательную сумму, включающую в себя мытье головы, сушку, маску, покраску, а то на деле получается, что тебя ориентировали только по цене краски и все. Но пардон, я же не побегу домой мыть голову и сушить ее. Эти процедуры естественно входят в общий пакет и почему-то не озвучиваются. Видимо для того, чтобы не отпугнуть клиентов. Потому, что покраска стоит никакие в данном случае не пять тысяч, а все 10.000. И после сделанного, у клиента ошарашенные глаза, но деваться некуда, да и не удобно перед персоналом, приходится в любом случае платить. Я не отказываюсь платить, поймите меня правильно, но клиент, узнав с самого начала всю стоимость решит стоит туда идти или нет. Потому, что одно дело привести себя в порядок за 5 тысяч или за 10. Многие ведь и передумают. Именно поэтому администратор и пытается назвать максимально приближенные к логике цены. Очень не красивая политика у салона.
                .clear
              #bx_3302092990_194.reviews1
                .reviews1-info
                  | Ольга
                  br
                  | 18 Июля 2012
                p
                  | ОГРОМНОЕ СПАСИБО косметологу Наталье Егоровой!!! Впечатления и ощущения от ее процедур невозможно передать словами!!! Это женщина с волшебными руками, огромным опытом и профессиональным чутьем! Уже появляется «наркотическая» зависимость от посещений ее косметических сеансов, но зависимость приятная и, что самое главное, полезная. РЕКОМЕНДУЮ ВСЕМ!
                .clear
              div(style='display:none', data-name='maxPage', data-value='6')
      .clear
