extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--md-offset-3.l-col--lg-offset-2
                .ui-page-banner
                    a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-12.l-col--md-3.l-col--lg-2
                .ui-heading.ui-heading--lvl4.ui-heading--default Отзывы
                ul.ui-left-menu
                    li.ui-left-menu__item
                        a.ui-left-menu__link(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2017') 2017
                    li.ui-left-menu__item
                        a.ui-left-menu__link(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2016') 2016
                    li.ui-left-menu__item
                        a.ui-left-menu__link(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2015') 2015
                    li.ui-left-menu__item
                        a.ui-left-menu__link(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2014') 2014
                    li.ui-left-menu__item
                        a.ui-left-menu__link(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2013')  2013
                    li.ui-left-menu__item
                        a.ui-left-menu__link(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2012') 2012
                    li.ui-left-menu__item
                        a.ui-left-menu__link(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2011') 2011
                    li.ui-left-menu__item
                        a.ui-left-menu__link(rel='nofollow', href='/reviews/?arrFilter[SECTION_CODE]=2010') 2010
            .l-col.l-col--xs-12.l-col--md-9.l-col--lg-10
                .ui-reviews-box
                    .l-grid.l-grid--container
                        .l-row.l-row--xs-middle
                            .l-col.l-col--xs-12.l-col--md-4.l-col--lg-4
                                .ui-reviews-box__button
                                    a.ui-button.ui-button--lg.ui-button--block.ui-button__review(href='#modal') Оставить отзыв
                            .l-col.l-col--xs-12.l-col--md-8.l-col--lg-8
                                .ui-reviews-box__description Расскажите нам, что вы думаете о нашей компании, и сотрудниках. Если вы оставите свои координаты, то мы сможем связаться с вами.
                .ui-review-cart
                    .l-grid.l-grid--container
                        .l-row.l-row--xs-no-gutters
                            .l-col.l-col--xs-12.l-col--md-4.l-col--lg-3.l-col--no-gutters.l-col--xs-flex
                                .ui-review-cart__info
                                    .ui-review-cart__name Ольга
                                    .ui-review-cart__date 15 Мая 2017
                            .l-col.l-col--xs-12.l-col--md-8.l-col--lg-9.l-col--no-gutters.l-col--xs-flex
                                .ui-review-cart__content 
                                    p
                                        | Алёнушка - чудо-мастер! Настоящий профессионал. Деликатная, внимательная,  отзывчивая. К ней хочется приходить снова! Считаю, что именно так и должен выглядеть  настоящий косметолог: идеально ухожено! Уверена: такой специалист может сделать красивыми своих клиентов!!!
                .ui-review-cart
                    .l-grid.l-grid--container
                        .l-row.l-row--xs-no-gutters
                            .l-col.l-col--xs-12.l-col--md-4.l-col--lg-3.l-col--no-gutters.l-col--xs-flex
                                .ui-review-cart__info
                                    .ui-review-cart__name Наталья
                                    .ui-review-cart__date 22 Февраля 2013
                            .l-col.l-col--xs-12.l-col--md-8.l-col--lg-9.l-col--no-gutters.l-col--xs-flex
                                .ui-review-cart__content 
                                    p
                                        | Я уже несколько лет являюсь постоянным клиентом салона на Ордынке.
                                        br
                                        | Наконец-то появилось время написать о своих впечатлениях.
                                        br
                                        | Косметология:
                                        br
                                        | девочки Равида и Катя — вы умнички и настоящие профессионалы: био-эпиляция у Равиды практически безболезненна, и позитив от общения остается надолго, а результат курса пилингов лица у Катерины заметили даже на работе, под слоем тонального крема.
                                        br
                                        | Косметолог Юлия (эпиляция сахаром) тоже большой молодец, с тех пор, как Равида в декрете, хожу только к ней.
                                        br
                                        | Маникюр:
                                        br
                                        | Марина Лакеева — отличный мастер и душевный человек, удачи и счастья!
                                        br
                                        | Парихмахерские услуги:
                                        br
                                        | Гуляева Наталья — очень красивые вечерние укладки, по стрижкам ничего не могу сказать, а вот биоламинирование (Label) сожгло мне волосы. После консультаций в других салонах выяснила, что такие последствия от этого продукта не только у меня. Пожелание администрации салона и мастерам — переходите на Sebastian.
                                        br
                                        | Колесникова Ирина — истинно творческий человек, укладки замечательные, однако ее привычка брать на стрижку одновременно несколько человек нравится не всем клиентам, но всегда можно договориться об индивидуальном обслуживании.
                                        br
                                        | Макияж:
                                        br
                                        | была один раз (имя мастера не запомнила), не понравилось — макияж глаз был болезненным, цвета подобраны неинтересно. Я сама редко крашусь и надеялась на «свежее» решение со стороны мастера — ожидания не оправдались.
                                        br
                                        | Администраторы:
                                        br
                                        | все девочки корректные и позитивные, стараются максимально удовлетворить пожелания клиента, сэкономить его время, молодцы!
                                        br
                                        | Ценовая политика салона:
                                        br
                                        | цены на услуги радуют, для салона в центре Москвы — очень и очень демократично. Конечно, хотелось бы иметь скидку постоянного клиента:)
                                        br
                                        | Желаю салону дальнейшего развития, а персоналу — удачи и счастья!
                .ui-review-cart
                    .l-grid.l-grid--container
                        .l-row.l-row--xs-no-gutters
                            .l-col.l-col--xs-12.l-col--md-4.l-col--lg-3.l-col--no-gutters.l-col--xs-flex
                                .ui-review-cart__info
                                    .ui-review-cart__name ЕЛЕНА КАЛВЕЛЛО
                                    .ui-review-cart__date 12 Декабря 2012
                            .l-col.l-col--xs-12.l-col--md-8.l-col--lg-9.l-col--no-gutters.l-col--xs-flex
                                .ui-review-cart__content
                                    p
                                        | Лишний раз убедилась в профессионализме наших русских мастеров, большое спасибо Юлии Захаровой. После фитоламинирования, сделанного ее легкими волшебными руками, мои волосы просто ожили. ЮЛИЯ, помимо того что является настоящим профессионалом, также очень остроумная, веселая и приятная в общении девушка. К сожалению редко встретишь среди парикмахеров таких образованных и эрудированных людей. Так держать! Она придает определенный вес и имидж салону. БОЛЬШОЕ ВАМ СПАСИБО ЮЛИЯ! Комплименты!
    
    
