extends ../../_layouts/base

block config
    - var baseUrl = '../../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--md-offset-3.l-col--lg-offset-2
                .ui-page-banner
                    a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-12.l-col--md-3.l-col--lg-2
                .ui-heading.ui-heading--lvl4.ui-heading--default Акции
                ul.ui-left-menu
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/catalog/circadia/') circadia
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/catalog/sothys/') Sothys
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/catalog/organic/') Organic Color System
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/catalog/lebel-cosmetics/') Lebel Cosmetics
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/catalog/keratin-complex/') Keratin Complex
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/catalog/mossa-green-light/') Mossa Green Light
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/catalog/christina-fitzgerald/') Christina Fitzgerald
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/catalog/aksessuary-dlya-volos/') Аксессуары Для Волос
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/catalog/avtorskaya-bizhuteriya/') Авторская Бижутерия
            .l-col.l-col--xs-12.l-col--md-9.l-col--lg-10
                .ui-product-detail
                    img.ui-img(src='http://salonfiore.ru/upload/iblock/555/555d4bb57129f7624750b5ae35b8b328.jpg')
                    .ui-product-detail__heading Keratin Complex
                    .ui-product-detail__img
                        img.ui-img(src='http://salonfiore.ru/upload/medialibrary/d89/d89173eb4a93b33a296931f70de455a2.jpg')
                    p
                        | Революция в индустрии красоты началась с выпуска продукта Smoothing Therapy. На сегодняшний день KERATIN COMPLEX представлен линейками профессиональных средств по уходу за волосами и инструментов для выполнения стайлинга.
                    .ui-product-detail__img
                        img.ui-img(src='http://salonfiore.ru/upload/medialibrary/323/3231e79621368a267cf119fb6052ac45.jpg')
                    p
                        | С 2007 года косметическая продукция KERATIN COMPLEX обрела статус лидера благодаря инновационным разработкам и поразительному эффекту. Питер Кополла, являющийся известным стилистом и владельцем популярного салона красоты, разработал уникальный комплекс средств с активной формулой из протеинов кератина для восстановления волос. При использовании продукции KERATIN COMPLEX вы можете быть уверены, что ваши волосы всегда будут выглядеть здоровыми и ухоженными.
                    p
                        img.ui-img.ui-img__left(src='http://salonfiore.ru/upload/medialibrary/c95/c953dc6da6e51729c35cbc6b0a7915d2.jpg', align="left")
                        | Востребованной процедурой является кератиновое выпрямление волос с использованием препарата от KERATIN COMPLEX. Косметическое средство Natural Keratin Smoothing Treatment не имеет аналогов среди других средств за счет своей эффективности. Формула глубокого проникновения в структуру волоса способствует устранению до 95% кудрей, устранению пушистости и пористости волос. После использования продукта волосы обретают блеск, а также восстанавливаются и оживляются. Средство рекомендовано к использованию для любого типа волос. Особенностью является отсутствие влияния на дисульфидные связи. В составе нет формальдегида, только натуральный кератин в количестве 42% и дополнительные ингредиенты. Эффект после процедуры сохраняется 3-5 месяцев в зависимости от правильно подобранного ухода. В 2010 году данный продукт получил награду от Stylist Choice Awards в категории «Лучшая процедура».
                    p
                        img.ui-img.ui-img__left(src='http://salonfiore.ru/upload/medialibrary/12a/12acae21650620e91ff9cfe3e1c36679.jpg', align="left")
                        | Для блондинок компания разработала уникальный продукт Natural Keratin Smoothing Treatment-Blonde, который не имеет аналогов в мире. Формула специально разработана с учетом особенностей светлых и осветленных волос, содержит 42% кератина. Средство придает волосам здоровый блеск, а также:
                        ul.ui-product-detail-list
                            li эффективно устраняет до 95% кудряшек;
                            li бережно разглаживает структуру волоса без разрушения дисульфидных связей;
                            li избавляет от пушистости и пористости;
                            li глубоко проникает в структуру для эффективного насыщения кератином;
                            li обеспечивает защиту от негативного влияния окружающей среды.
                    .ui-product-detail__img
                        img.ui-img(src='http://salonfiore.ru/upload/medialibrary/5ee/5ee8c9f3914d09e81f40de72f7cbd7f8.jpg')
                    p
                        i Для сохранения и преумножения красоты волос мы рекомендуем процедуры, способствующие формированию не только внешней красоты, но и глубокому восстановлению структуры волосяного стержня:
                    ul.ui-product-detail-list
                        li
                            a(href='/hair/okrashivanie-volos/kydra/') окрашивание kydra в Москве
                            &nbsp; выполняется с использованием уникального состава;
                        li
                            a(href='/hair/keratinovoe-vypryamlenie/') выпрямление волос, цена
                            &nbsp; зависит от общей длины;
                        li 
                            a(href='/hair/biozavivka/mossa/') биозавивка mossa
                            &nbsp; позволит обрести кудряшки без глубокого повреждения структуры волоса, &nbsp;
                            a(href='/hair/biozavivka/') биозавивка для волос
                            &nbsp; выполняется с использованием профессиональных средств.
                    .ui-product-detail__img
                        img.ui-img(src='http://salonfiore.ru/upload/medialibrary/898/89823f5da3c9f208356cd6f18c33c2ac.jpeg')
                    .ui-product-detail__img
                        img.ui-img(src='http://salonfiore.ru/upload/medialibrary/512/512faaa115ab03fcda2b8b93389ed570.jpg')
                .l-grid
                    .l-row
                        .l-col.l-col--xs-12.l-col--md-4.l-col--lg-4.l-col--xs-flex
                            .ui-product-cart
                                .ui-product-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/505/505daa924b649117e623ef4de75bfb0e.jpg')")
                                .ui-product-cart__title 
                                    a(href='/catalog/sothys/') Кондиционер ванильный интенсивного действия Vanilla Bean Deep Conditioner
                        .l-col.l-col--xs-12.l-col--md-4.l-col--lg-4.l-col--xs-flex
                            .ui-product-cart
                                .ui-product-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/7df/7df5b3532a4cd13c637453f6e0df5e4b.jpg')")
                                .ui-product-cart__title 
                                    a(href='/catalog/sothys/') Кондиционер кератиновый для окрашенных волос Keratin Color Care
                        .l-col.l-col--xs-12.l-col--md-4.l-col--lg-4.l-col--xs-flex
                            .ui-product-cart
                                .ui-product-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/7b9/7b98fcf1f31becf19a42685402ea1354.jpg')")
                                .ui-product-cart__title 
                                    a(href='/catalog/sothys/') Дорожный набор 1 (шампунь + кондиционер)
                                    
