// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css'

// Import Modules
@import '../_modules/link/link'

@font-face
    font-family 'PF DinText Pro'
    src url('/fonts/PFDinTextPro-Regular.ttf')
    font-weight 400

@font-face
    font-family 'Five Minutes'
    src url('/fonts/FiveMinutes.otf')

// Box sizing partial styles
// Apply a natural box layout model to all elements
*,
*:before,
*:after
    box-sizing border-box

.ui-page
    position relative
    min-height 100%
    width 100%
    background url('/images/bg-bot.png') no-repeat center bottom, url('/images/bg-top.png') no-repeat center top
    background-color #dddfdd
    background-size 100%

.ui-header
    background rgba(40,55,76,0.9)
    position relative
    z-index 2

    &__phone
        background #00bcf4
        display flex
        align-items center
        height 100%
        padding 0 7px

        a
            color #3a4559
            font-weight bold

        a + a
            padding-left 10px

.ui-header-menu
    display flex
    margin 0
    padding 0

    &__item
        padding 6px 0
        list-style none
        & + &
            margin-left 34px

    &__link
        font 16px 'PF DinText Pro'
        color #fff
        text-transform uppercase

        &:hover
            color #e10084

        &--active
            color #e10084

.ui-left-menu
    margin 0
    padding 0

    &__item
        padding 6px 0
        list-style none

    &__link
        font 18px 'PF DinText Pro'
        color #1d2e43
        text-transform uppercase
        text-decoration underline

        &:hover
            color #e10084

        &--active
            color #e10084

.ui-page-header
    padding-bottom 20px

    span
        color #1d2e43

    &__link
        font 16px 'PF DinText Pro'
        text-decoration underline
        color #1d2e43

        &:hover
            color #e10084

.ui-footer
    background url(/images/footer-bg.png) repeat-x top center
    padding-bottom 20px

    &__menu
        padding 10px 0

    &__copy
        font 16px 'PF DinText Pro'
        color #fff
        text-transform uppercase
        padding-top 20px

    &__licence
        font 13px Arial
        color #fff

        div
            margin-top 15px

    &__address
        font 13px Arial
        color #fff
        padding-top 20px
        span
            color #00bcf4

        &-title
            font-style normal
            font-variant normal
            font-weight normal
            font-stretch normal
            font-size 16px
            line-height normal
            font-family PF DinText Pro
            color rgb(255, 255, 255)
            margin-bottom 15px
            text-transform uppercase

        &-line
            margin-top 15px

.ui-bottom-menu
    margin 0
    padding 0
    display -webkit-flex
    display -ms-flex
    display flex

    &__item
        padding 4px 0
        list-style none
        & + &
            margin-left 40px

    &__link
        font 16px 'PF DinText Pro'
        color #fff
        text-transform uppercase
        &:hover
            color #e10084

        &--active
            color #e10084

.ui-price-list
    position relative

    &__link
        font 16px 'PF DinText Pro'
        color #00bcf4

    &__content
        position absolute
        display none
        bottom 30px
        background #1d2e43
        padding 5px 5px 5px 5px
        border-radius 3px 3px 0px 0px

        a
            color #fff
            font 16px 'PF DinText Pro'
            text-decoration none
            text-transform uppercase
            padding 5px 5px 5px 10px

            &:hover
                text-decoration underline
                color #00BCF4

// Styling on warning for users on IE7 or below
.browsehappy
    text-align center
    margin 0
    background #fff8e2
    color #000
    padding 0.5em 0

.ui-heading
    font-family 'Five Minutes'
    text-transform uppercase

    &--lvl2
        font-size 60px
        line-height 50px

    &--default
        color #2b3949

    &--pink
        color #e10084

.ui-main-shares-cart
    border-top 5px solid #00bcf4
    margin 20px 0
    padding 10px 0

    &__title
        a
            text-decoration underline
            text-transform uppercase
            font 18px 'PF DinText Pro'
            color #1d2e43

            &:hover
                text-decoration none

    &__date
        font 13px Arial
        color #808080
        padding 5px 0

.ui-map
    position relative
    padding-bottom 38%
    margin 40px 0

    &__layout
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        background green

    &__heading
        position absolute
        display flex
        left 150px
        top 100px

        span
            padding-left 15px

.ui-haircuts
    background url('/images/o1.png') 100% 100%
    background-size cover
    border 1px dashed #999
    text-align center
    padding 20px
    flex 1

    &__description
        font 14px Arial
        color #666
        line-height 20px
        padding 30px 0 20px

    &__price
        font 36px 'PF DinText Pro'
        color #00bcf4
        text-transform uppercase
        padding-bottom 10px

.ui-main-shares-box
    border 1px solid #e4d2c6
    flex 1

    &__img
        background-size cover
        background-position 100% 100%
        background-repeat no-repeat
        padding-bottom 56.25%

    &__title
        padding 10px

        a
            text-decoration underline
            text-transform uppercase
            font 18px 'PF DinText Pro'
            color #1d2e43

.ui-services-banner
    border 3px solid #00bcf4
    padding 26px 20px
    margin 15px 0

    &__link
        font 18px 'PF DinText Pro'
        color #1d2e43
        text-decoration underline
        text-transform uppercase

.ui-services-cart
    background #bfb5b5
    background-size cover
    background-position 100% 100%
    background-repeat no-repeat
    position relative
    padding-bottom 56%
    flex 1
    margin 10px 0

    &__title
        padding 5px 15px
        background #fff
        position absolute
        bottom 30px

        a
            font 18px 'PF DinText Pro'
            text-transform uppercase
            text-decoration underline
            color #1d2e43

            &:hover
                color #e10084

.ui-othersservices-cart
    padding 25px
    margin 10px 0 20px
    background #fff

    &__title
        font 500 20px 'PF DinText Pro'
        text-transform uppercase
        color #000
        padding-bottom 20px

    &__link
        font 18px 'PF DinText Pro'
        text-transform uppercase
        text-decoration underline
        color #1d2e43
        padding 6px 0

        &:hover
            color #e10084

@import './style'
