// Normalize Styles
@import '../../node_modules/normalize.css/normalize.css'

// Import Modules
@import '../_modules/link/link'

@font-face
    font-family 'PF DinText Pro'
    src url('/fonts/PFDinTextPro-Regular.ttf')
    font-weight 400

@font-face
    font-family 'Five Minutes'
    src url('/fonts/FiveMinutes.otf')

// Box sizing partial styles
// Apply a natural box layout model to all elements
*,
*:before,
*:after
    box-sizing border-box

.ui-page
    position relative
    min-height 100%
    width 100%
    background url('/images/bg-bot.png') no-repeat center bottom, url('/images/bg-top.png') no-repeat center top
    background-color #dddfdd
    background-size 100%

.ui-header
    background rgba(40,55,76,0.9)
    position relative
    z-index 2

    &__phone
        background #00bcf4
        display flex
        align-items center
        height 100%
        padding 0 7px

        a
            color #3a4559
            font-weight bold

        a + a
            padding-left 10px

.ui-header-menu
    display flex
    margin 0
    padding 0

    &__item
        padding 6px 0
        list-style none
        & + &
            margin-left 34px

    &__link
        font 16px 'PF DinText Pro'
        color #fff
        text-transform uppercase

        &:hover
            color #e10084

        &--active
            color #e10084

.ui-left-menu
    margin 0
    padding 0

    &__item
        padding 6px 0
        list-style none

    &__link
        font 18px 'PF DinText Pro'
        color #1d2e43
        text-transform uppercase
        text-decoration underline

        &:hover
            color #e10084

        &--active
            color #e10084

.ui-page-header
    padding-bottom 20px

    span
        color #1d2e43

    &__link
        font 16px 'PF DinText Pro'
        text-decoration underline
        color #1d2e43

        &:hover
            color #e10084

        &--active
            text-decoration none
            color #e10084

    &--indent
        a
            text-transform uppercase

        a + a
            padding-left 15px

.ui-footer
    background url(/images/footer-bg.png) repeat-x top center
    padding-bottom 20px

    &__menu
        padding 10px 0

    &__copy
        font 16px 'PF DinText Pro'
        color #fff
        text-transform uppercase
        padding-top 20px

    &__licence
        font 13px Arial
        color #fff

        div
            margin-top 15px

    &__address
        font 13px Arial
        color #fff
        padding-top 20px
        span
            color #00bcf4

        &-title
            font-style normal
            font-variant normal
            font-weight normal
            font-stretch normal
            font-size 16px
            line-height normal
            font-family PF DinText Pro
            color rgb(255, 255, 255)
            margin-bottom 15px
            text-transform uppercase

        &-line
            margin-top 15px

.ui-bottom-menu
    margin 0
    padding 0
    display -webkit-flex
    display -ms-flex
    display flex

    &__item
        padding 4px 0
        list-style none
        & + &
            margin-left 40px

    &__link
        font 16px 'PF DinText Pro'
        color #fff
        text-transform uppercase
        &:hover
            color #e10084

        &--active
            color #e10084

.ui-price-list
    position relative

    &__link
        font 16px 'PF DinText Pro'
        color #00bcf4

    &__content
        position absolute
        display none
        bottom 30px
        background #1d2e43
        padding 5px 5px 5px 5px
        border-radius 3px 3px 0px 0px

        a
            color #fff
            font 16px 'PF DinText Pro'
            text-decoration none
            text-transform uppercase
            padding 5px 5px 5px 10px

            &:hover
                text-decoration underline
                color #00BCF4

// Styling on warning for users on IE7 or below
.browsehappy
    text-align center
    margin 0
    background #fff8e2
    color #000
    padding 0.5em 0

.ui-heading
    font-family 'Five Minutes'
    text-transform uppercase

    &--lvl2
        font-size 60px
        line-height 50px

    &--lvl4
        font 26px 'PF DinText Pro'
        color #1d2e43
        text-transform uppercase

    &--lvl5
        font 500 20px 'PF DinText Pro'
        color #1d2e43
        text-transform uppercase
        padding-bottom 20px

    &--default
        color #2b3949

    &--pink
        color #e10084

.ui-main-shares-cart
    border-top 5px solid #00bcf4
    margin 20px 0
    padding 10px 0

    &__title
        a
            text-decoration underline
            text-transform uppercase
            font 18px 'PF DinText Pro'
            color #1d2e43

            &:hover
                text-decoration none

    &__date
        font 13px Arial
        color #808080
        padding 5px 0

.ui-map
    position relative
    padding-bottom 38%
    margin 40px 0

    &--lg
        margin 0

    &__layout
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        background green

    &__heading
        position absolute
        display flex
        left 150px
        top 100px

        span
            padding-left 15px

.ui-haircuts
    background url('/images/o1.png') 100% 100%
    background-size cover
    border 1px dashed #999
    text-align center
    padding 20px
    flex 1

    &__description
        font 14px Arial
        color #666
        line-height 20px
        padding 30px 0 20px

    &__price
        font 36px 'PF DinText Pro'
        color #00bcf4
        text-transform uppercase
        padding-bottom 10px

.ui-main-shares-box
    border 1px solid #e4d2c6
    flex 1

    &__img
        background-size cover
        background-position 100% 100%
        background-repeat no-repeat
        padding-bottom 56.25%

    &__title
        padding 10px

        a
            text-decoration underline
            text-transform uppercase
            font 18px 'PF DinText Pro'
            color #1d2e43

.ui-page-banner
    border 3px solid #00bcf4
    padding 26px 20px
    margin 15px 0

    &__link
        font 18px 'PF DinText Pro'
        color #1d2e43
        text-decoration underline
        text-transform uppercase

.ui-services-cart
    background #bfb5b5
    background-size cover
    background-position 100% 100%
    background-repeat no-repeat
    position relative
    padding-bottom 56%
    flex 1
    margin 10px 0

    &__title
        padding 5px 15px
        background #fff
        position absolute
        bottom 30px

        a
            font 18px 'PF DinText Pro'
            text-transform uppercase
            text-decoration underline
            color #1d2e43

            &:hover
                color #e10084

.ui-othersservices-cart
    padding 25px
    margin 10px 0 20px
    background #fff

    &__title
        font 500 20px 'PF DinText Pro'
        text-transform uppercase
        color #000
        padding-bottom 20px

    &__link
        font 18px 'PF DinText Pro'
        text-transform uppercase
        text-decoration underline
        color #1d2e43
        padding 6px 0

        &:hover
            color #e10084

.ui-contact
    padding 25px 0

    &__header
        font-weight bold
        font-size 28px

.ui-text
    &__title
        font 500 20px 'PF DinText Pro'
        text-transform uppercase
        color #000

.ui-reviews-box
    background #e10084
    padding 12px 0
    margin-bottom 30px

    &__description
        font 14px Arial
        color #fff

        a
            font 14px Arial
            color #fff
            text-decoration underline

        p
            padding 0
            margin 0

.ui-button
    display inline-block
    font-family 'PF DinText Pro'
    cursor pointer
    background #e10084
    color #fff
    border 1px solid #e10084

    &--xs
        font-size 14px
        padding 5px 7px
        text-transform uppercase

    &--lg
        font-size 18px
        border 3px solid #fff
        padding 10px 30px

    &--xl
        font-size 18px
        padding 10px 30px
        text-transform uppercase

.ui-link
    text-decoration underline
    color #1d2e43

    &:hover
        color #e10084

    &--uppercase
        text-transform uppercase

.ui-review-cart
    margin 10px 0

    &__info
        background #f3f3f3
        font 14px Arial
        color #1d2e43
        line-height 20px
        padding 25px 20px
        width 100%
        flex 1

    &__content
        background #fff
        font 14px Arial
        color #1d2e43
        line-height 20px
        padding 15px 10px
        flex 1

        p
            background url('/images/arrow1.png') no-repeat 0% 0%
            margin 0
            padding 10px

.ui-press-cart
    background #fff
    margin-bottom 20px
    flex 1

    &__img
        padding-bottom 132.25%
        background-size cover
        background-repeat no-repeat
        background-position 100% 100%
        display block

    &__title
        font 18px 'PF DinText Pro'
        color #1d2e43
        padding 20px
        text-align center
        text-transform uppercase
        text-decoration underline

        a
            color #1d2e43

            &:hover
                color #e10084

.ui-page-navigation
    padding-bottom 20px
    display flex

    &__item
        text-decoration none
        color #1d2e43
        padding 0 12px

        &--active
            font-weight bold

    &__item + &__item
        border-left 1px solid #cdcdcd

.ui-press-detail
    background #fff
    padding 30px
    margin 20px 0

    &__heading
        font 26px 'PF DinText Pro'
        color #1d2e43
        text-transform uppercase

    &__date
        font 13px Arial
        color #808080

    &__img
        padding 10px 0

    &__title
        font 500 20px 'PF DinText Pro'
        text-transform uppercase
        color #000

    &__text
        color #1d2e43

        &--italic
            font italic 14px Arial

        p + p
            margin-top 15px

    &__link
        color #1d2e43
        text-decoration underline

        &:hover
            color #e10084

        &--uppercase
            text-transform uppercase

.ui-img
    max-width 100%

    &__left
        margin 0 30px 0 0
        max-width 40%

.ui-video
    width 100%
    height 444px

.ui-press-cart-mini
    margin 10px 0
    display block
    color #1d2e43
    text-decoration underline

    &__img
        padding-bottom 130%
        background-size cover
        background-repeat no-repeat
        background-position 100% 100%

    &:hover
        color #e10084

    &__title
        font 13px Arial
        color #808080
        text-align center
        padding 6px 0

.ui-sale-cart
    background #fff
    margin-bottom 20px
    flex 1

    &__img
        padding-bottom 56.25%
        background-size cover
        background-repeat no-repeat
        background-position 100% 100%

    &__title
        font 18px 'PF DinText Pro'
        color #1d2e43
        padding 20px
        text-transform uppercase
        text-decoration underline

        a
            color #1d2e43

            &:hover
                color #e10084

    &__date
        font 13px Arial
        color #808080
        padding 0 20px 20px 20px

.ui-sale-detail
    background #fff
    font 14px/22px Arial
    color #666
    margin-bottom 20px

    &__content
        padding 30px

    &__subsection
        background #f3f3f3
        font 20px 'PF DinText Pro'
        color #e10084
        text-transform uppercase
        padding 20px 30px

    &__heading
        font 26px 'PF DinText Pro'
        color #1d2e43
        text-transform uppercase

    &__date
        font 13px Arial
        color #808080

    &__video
        width 100%
        margin 20px 0

    &__img
        padding 10px 0


    p
        padding 10px 0
        margin 0

    &__title
        font 500 20px 'PF DinText Pro'
        text-transform uppercase
        color #000
        padding 15px 0

    &__link
        color #1d2e43
        text-decoration underline

        &:hover
            color #e10084

        &--uppercase
            text-transform uppercase

.ui-product-cart
    background #fff
    margin-bottom 20px
    flex 1

    &__img
        padding-bottom 58.25%
        background-size contain
        background-repeat no-repeat
        background-position 50% 100%

    &__title
        font 17px 'PF DinText Pro'
        text-decoration underline
        text-align center
        padding 20px

        a
            color #1d2e43

            &:hover
                color #e10084

.ui-product
    background #fff
    padding 20px
    margin-bottom 20px

    &__heading
        font 26px 'PF DinText Pro'
        color #1d2e43
        text-transform uppercase

    &__link
        font 17px 'PF DinText Pro'
        text-decoration underline
        text-transform uppercase

        a
            color #1d2e43

            &:hover
                color #e10084

.ui-product-detail
    background #fff
    padding 30px
    margin-bottom 20px
    color #666

    &__heading
        font 26px 'PF DinText Pro'
        color #1d2e43
        text-transform uppercase
        padding-bottom 20px

    p
        color #666
        margin 0
        padding 15px 0

    &__title
        font 500 20px 'PF DinText Pro'
        text-transform uppercase
        color #000
        padding 15px 0

    a
        text-decoration underline
        color #1d2e43

        &:hover
            color #e10084

.ui-product-detail-list
    margin 0
    padding 10px 0

    li
        margin-left 20px

    a
        text-decoration underline
        color #1d2e43

        &:hover
            color #e10084

.ui-about
    margin-bottom 30px

    &__title
        padding-bottom 20px

    p
        margin 15px 0
        padding 0

    a
        text-decoration underline
        color #1d2e43

        &:hover
            color #e10084

.ui-view
    padding 10px 0 20px 0
    text-transform uppercase

    img
        padding 0 5px 0 15px

    a
        text-decoration underline
        color #1d2e43
        border-bottom 1px dotted #1d2e43
        background #fff

        &:hover
            color #e10084
            border-bottom 1px dotted #e3258e

.ui-team-cart
    background-size cover
    background-position top center
    background-repeat no-repeat
    position relative
    padding-bottom 133.333%
    flex 1
    margin-bottom 20px

    &__name
        position absolute
        bottom 55px
        display flex
        justify-content space-between
        width 100%

        a
            font 18px 'PF DinText Pro'
            text-transform uppercase
            text-decoration underline
            color #1d2e43
            padding 5px 15px
            background #fff

            &:hover
                color #e10084

    &__post
        position absolute
        bottom 20px
        text-transform uppercase
        white-space nowrap
        display flex
        justify-content space-between
        align-items center
        width 100%

        span
            font 15px 'PF DinText Pro'
            color #00bcf4
            padding 5px 15px
            background #fff

.ui-team-detail
    background #f3f3f3
    padding 20px 25px
    font 16px 'PF DinText Pro'
    color #1d2e43
    margin-bottom 30px

    &__heading
        text-align center

    &__post
        font 18px 'PF DinText Pro'
        color #00bcf4
        text-transform uppercase
        text-align center
        padding 20px

    p
        line-height 24px
        margin 15px 0
        padding 0

    &__button
        text-align center
        padding 20px

.ui-gallery-cart
    background-size cover
    background-position top center
    background-repeat no-repeat
    position relative
    padding-bottom 100%
    margin-bottom 20px
    flex 1

    &__title
        position absolute
        padding 5px 15px
        background #fff
        bottom 55px

        a
            font 18px 'PF DinText Pro'
            text-transform uppercase
            text-decoration underline
            color #1d2e43

            &:hover
                color #e10084

    &__photo
        font 18px 'PF DinText Pro'
        color #00bcf4
        background #fff
        padding 5px 15px
        text-transform uppercase
        position absolute
        bottom 20px

.ui-articl-cart
    background #fff
    margin-bottom 20px
    flex 1

    &__img
        background-size cover
        background-position top center
        background-repeat no-repeat
        position relative
        padding-bottom 85.25%

    &__title
        padding 10px 20px

        a
            font 18px 'PF DinText Pro'
            text-transform uppercase
            text-decoration underline
            color #1d2e43

            &:hover
                color #e10084

.ui-articles-detail
    background #fff
    margin-bottom 30px
    color #666

    &__content
        padding 20px 30px

    &__subsection
        font 20px 'PF DinText Pro'
        color #e10084
        text-transform uppercase
        background #f3f3f3
        padding 20px 30px

    &__img
        padding 10px 0

    ol
        margin 15px 0
        padding 0
        li
            margin 0 0 10px 20px

    ul
        padding 0
        margin 15px 0
        li
            margin-left 20px

    &__title
        padding 0

    p
        margin 15px 0
        padding 0

.ui-services-detail
    margin-bottom 30px

    &__heading
        background #fff
        padding 30px
        font 40px 'PF DinText Pro'
        color #1d2e43
        text-transform uppercase
        text-align center

    &__content
        background #f3f3f3
        padding 20px 25px
        font 16px 'PF DinText Pro'
        color #1d2e43

        p
            margin 15px 0
            padding 0

        ul
            margin 10px 10px 10px 20px
            padding 0

            li
                margin 15px 0
                line-height 24px

        ol
            li
                margin 0 0 10px 20px

.ui-question-block
    background #fff
    margin-bottom 20px

    &__header
        padding 20px

.ui-faq
    padding 10px 0

.ui-question
    display flex
    padding 0 20px
    font 14px/20px Arial
    color #1d2e43

    span + span
        padding-left 20px

.ui-answer
    padding 20px 50px
    margin 10px 0
    background #f3f3f3

    &__header
        display flex
        align-items center
        background #fff

    &__img
        width 30px
        height 30px

    &__info
        padding-left 20px
        color #666

    &__content
        padding 20px 0

@import './style'
