extends ../../_layouts/base

block config
    - var baseUrl = '../../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-4.l-col--md-offset-2.ui-page-banner
                a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-2
                .ui-heading.ui-heading--lvl4.ui-heading--default О нас
                ul.ui-left-menu
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/team/') Наша команда
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/gallery/') ФОТОГАЛЕРЕЯ
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/articles/') Статьи
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/consult/') Консультации специалистов
            .l-col.l-col--xs-10.l-col--no-gutters
                .l-grid
                    .l-row
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-gallery-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/8ea/8eacd9c2faefe3990291ea1c58a5efd5.jpg')")
                                .ui-gallery-cart__title
                                    a(href='#popup-photos-54') Свадебные образы от команды FIORE
                                .ui-gallery-cart__photo 45 фото
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-gallery-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/8d4/8d4147fb6f912af2cf5e8a28123a9f2c.jpg')")
                                .ui-gallery-cart__title
                                    a(href='#popup-photos-70') Повседневные образы стилистов Fiore
                                .ui-gallery-cart__photo 45 фото
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-gallery-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/f79/f79e68423f5c1a646115b694e54df07b.jpg')")
                                .ui-gallery-cart__title
                                    a(href='#popup-photos-71') Рабочие моменты команды FIOR
                                .ui-gallery-cart__photo 43 фото
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-gallery-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/2bf/2bfdab8c21fb4d59a1fbcb59a9468a3d.jpg')")
                                .ui-gallery-cart__title
                                    a(href='#popup-photos-72') Праздничные образы от команды FIORE
                                .ui-gallery-cart__photo 100 фото
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-gallery-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/f6f/f6ff3fcdd30ef157ed053e2c1b6cb7bc.jpg')")
                                .ui-gallery-cart__title
                                    a(href='#popup-photos-69') Повседневные образы от команды FIORE
                                .ui-gallery-cart__photo 32 фото
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-gallery-cart(style="background-image: url('http://salonfiore.ru/upload/iblock/b0b/b0bac1ca446e10aecf696b6a83c0f820.jpg')")
                                .ui-gallery-cart__title
                                    a(href='#popup-photos-58') Стилисты салона FIORE в США
                                .ui-gallery-cart__photo 17 фото
                                
                                
                                
