extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--md-offset-3.l-col--lg-offset-2
                .ui-page-banner
                    a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-12.l-col--md-3.l-col--lg-2
                .ui-heading.ui-heading--lvl4.ui-heading--default Акции
                ul.ui-left-menu
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/team/') Наша команда
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/gallery/') ФОТОГАЛЕРЕЯ
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/articles/') Статьи
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/consult/') Консультации специалистов
            .l-col.l-col--xs-12.l-col--md-9.l-col--lg-10
                .ui-about
                    p
                        | Женщины в США, Японии, Франции используют только натуральную косметику и выбирают салоны, работающие на органических средствах ухода. Такой естественной и бережной философии мы следуем в салоне красоты Fiore.
                    p
                        | «Fiore» переводится с итальянского как «цветок», и мы задействуем всю силу «живой» и полезной косметики, чтобы наполнить кожу и волосы сиянием, раскрыть тот шарм, которым вас одарила природа.
                    p
                        | Мы не работаем с препаратами, создающими видимость эффекта, маскирующими проблему вместо решения. Избегаем дешевых аналогов, содержащих минеральные масла, искусственные консерванты, красители. Стараемся как можно дольше обходиться без инъекций антивозрастных препаратов.
                    P 
                        | Наш выбор – оригинальные сертифицированные эко-препараты, действующие на уровне клеток, помогая коже самостоятельно восстанавливаться. Нас не интересует сиюминутный результат – мы стремимся к тому, чтобы женщины, доверившие нам свою красоту, прекрасно выглядели всегда. Поэтому мы работаем с лучшими брендами профессиональной косметики – итальянской, французской, английской, американской, японской.
                    p
                        | В салоне красоты Fiore вас ждет гармоничная атмосфера – вы слушаете музыку, угощаетесь чаем, расслабляетесь и проходите приятные процедуры. Если вы посещаете салон до или после работы, не успеваете поесть дома, в ресторане на первом этаже вас ждут вкусные блюда и натуральные соки.
                    p
                        | В косметологии мы сводим к минимуму инъекционные методики, предпочитая техники лифтингового массажа и омолаживающую косметику, насыщенную экстрактами, антиоксидантами, природными минералами. Фитопрепараты глубоко очищают, питают, обновляют, насыщают кислородом, создают каскад эффектов – увлажнение и регенерация, устранение морщинок и активный лифтинг.
                    p
                        | Работая с волосами, применяем только органические красители, обогащенные натуральными пигментами и питательными компонентами, в том числе растительный 
                        a(href='/sale/2016/novinka-krasitel-kydra/') краситель Kydra
                        |  известного бренда Phyto, Organic Colour Systems. Для 
                        a(href='/hair/keratinovoe-vypryamlenie/') биовыпрямления волос
                        |  используем самый безопасный из существующих препаратов – Кератин Комплекс. Для моделирования стильного объема и формы – органическую 
                        a(href='/hair/biozavivka/') биозавивку
                        |  для волос 
                        a(href='/hair/biozavivka/mossa/') Mossa
                        | .
                    p
                        | В депиляции применяем лучшие в мире составы для восковой эпиляции Lycon с увлажняющими и восстанавливающими маслами. В уходе за руками предпочитаем 
                        a(href='/hand/yaponskiy-manikyur/') японский маникюр
                        | , укрепляющий и восстанавливающий ногтевые пластины и кожу рук, в сочетании с цветочными ароматическими композициями.
                    p
                        | Мы предлагаем всю палитру натурального домашнего ухода – органические свечи, крема, сыворотки. Они поддерживают ритмы обновления кожи, сберегают здоровье, дарят неувядаемую привлекательность.
                    p
                        | Почувствуйте себя соблазнительным и желанным цветком – салон красоты Fiore раскроет перед вами все грани этого упоительного чувства.
                    .ui-about__title.ui-heading.ui-heading--lvl4 Cалон на Ордынке
                    img.ui-img(src='http://salonfiore.ru/upload/resize_cache/iblock/dcb/167_167_2/dcbb6b67ea621962ccfda46bd37ba753.jpg')
                    
                    
                        
