extends ../../../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../../../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-12.l-col--md-6.l-col--lg-4.l-col--md-offset-3.l-col--lg-offset-2
                .ui-page-banner
                    a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-12.l-col--md-3.l-col--lg-2
                .ui-heading.ui-heading--lvl4.ui-heading--default Акции
                ul.ui-left-menu
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/team/') Наша команда
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/gallery/') ФОТОГАЛЕРЕЯ
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/articles/') Статьи
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/about/consult/') Консультации специалистов
            .l-col.l-col--xs-12.l-col--md-9.l-col--lg-10
                .ui-team-detail
                    .ui-team-detail__heading.ui-heading.ui-heading--lvl4 Александрова Екатерина
                    .ui-team-detail__post Парикмахер-стилист
                    .ui-team-detail__img
                        img.ui-img(src='http://salonfiore.ru/upload/medialibrary/8f6/8f6aff5526a5b2a7b9eb7661e95293c9.jpg', title="Александрова Екатерина - парикмахер-стилист", alt="Александрова Екатерина - парикмахер-стилист")
                    p
                        | Екатерина уже 10 лет в профессии, прекрасно владеет техникой выполнения женских и мужских стрижек. Знает, как придать образу индивидуальность, удачно сочетает классику и экстравагантность, смелый креатив и точное понимание того, чего хочется клиенту. Окрашивание, тонирование, 
                        a.ui-link(href='/hair/melirovanie/') мелирование волос
                        |  – таланту и опытным рукам мастера поддаются самые сложные образы с глянцевых обложек, повседневные и свадебные укладки и прически на длинные, короткие, средние волосы. Екатерина любит использовать в работе элементы плетения, начесы, модные аксессуары, создавая цельные и гармоничные композиции. Катя отлично делает повседневные и коктейльные укладки, любит колористку и проводить уход за волосами. Сторонник органических красителей 
                        a.ui-link(href='/hair/okrashivanie-volos/kydra/') Kydra
                        | , Organic Color System, 
                        a.ui-link(href='/hair/okrashivanie-inoa-inoa-v-salone-krasoty/') INOA
                        | .
                    .ui-team-detail__button
                        a.ui-button.ui-button--xl ЗАПИСАТЬСЯ К МАСТЕРУ
                .ui-reviews-box
                    .l-grid.l-grid--container
                        .l-row.l-row--xs-middle
                            .l-col.l-col--xs-12.l-col--md-4.l-col--lg-4
                                .ui-reviews-box__button
                                    a.ui-button.ui-button--lg.ui-button--block.ui-button__review(href='#modal') Оставить отзыв
                            .l-col.l-col--xs-12.l-col--md-8.l-col--lg-8
                                .ui-reviews-box__description Расскажите нам, что вы думаете о нашей компании, и сотрудниках. Если вы оставите свои координаты, то мы сможем связаться с вами.
                .ui-review-cart
                    .l-grid.l-grid--container
                        .l-row.l-row--xs-no-gutters
                            .l-col.l-col--xs-12.l-col--md-4.l-col--lg-3.l-col--no-gutters.l-col--xs-flex
                                .ui-review-cart__info
                                    .ui-review-cart__name Наталья, 28 лет
                                    .ui-review-cart__date 12 Июля 2016
                            .l-col.l-col--xs-12.l-col--md-8.l-col--lg-9.l-col--no-gutters.l-col--xs-flex
                                .ui-review-cart__content 
                                    p
                                        | Никогда не думала, что снова решусь на окрашивание моей измученной обесцвеченной шевелюры. Но не смогла удержаться, когда услышала о новых цветочных красителях без аммиака. Попробовала и не жалею, волосы стали даже лучше, чем были, нежные, мягкие. Может, причина в том, что мне их как следует восстановили перед окрашиванием. Безумно благодарна своему мастеру, Александровой Екатерине!
                .ui-review-cart
                    .l-grid.l-grid--container
                        .l-row.l-row--xs-no-gutters
                            .l-col.l-col--xs-12.l-col--md-4.l-col--lg-3.l-col--no-gutters.l-col--xs-flex
                                .ui-review-cart__info
                                    .ui-review-cart__name Виктория
                                    .ui-review-cart__date 20 Октября 2014
                            .l-col.l-col--xs-12.l-col--md-8.l-col--lg-9.l-col--no-gutters.l-col--xs-flex
                                .ui-review-cart__content 
                                    p
                                        | Приятная и очень талантливая молодая девушка. Одно удовольствие стричься  у милой Екатерины.
