extends ../../_layouts/base

block config
  - var baseUrl = '../../'

block content
    .l-grid.l-grid--container
        .l-row
            .l-col.l-col--xs-4.l-col--md-offset-2.ui-page-banner
                a.ui-page-banner__link(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .l-row
            .l-col.l-col--xs-2
                .ui-heading.ui-heading--lvl4.ui-heading--default Акции
                ul.ui-left-menu
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2009/') 2009
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2010/') 2010
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2011/') 2011
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2012/') 2012
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2013/') 2013
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2014/') 2014
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2015/') 2015
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2016/') 2016
                    li.ui-left-menu__item
                        a.ui-left-menu__link(href='/sale/2017/') 2017
            .l-col.l-col--xs-10
                .ui-sale-detail
                    .ui-sale-detail__content
                        .ui-sale-detail__heading Coolifting - новинка года! Минус 10 лет за 5 минут
                        .ui-sale-detail__date 17 Сентября 2017
                        .ui-sale-detail__video 
                            iframe.ui-video(frameborder='0', src='https://www.youtube.com/embed/Ba5CV3IgPiw?rel=0&controls=0', allowfullscreen='')
                        .ui-sale-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/989/9891764a37b408278e8925969a0f00e9.jpg', title='Coollifting - новинка года! Экспресс омоложение', alt='Coollifting - новинка года! Экспресс омоложение')
                        p
                            | Отличная новость для всех, кто доверяет нам свою красоту. Теперь вы сможете пройти уникальный курс экспресс-омоложения Coolifting. Это эксклюзивная технология, клинические испытания которой недавно завершились невероятным успехом.
                        p
                          | Всего за 5 процедур визуальный возраст кожи уменьшается на 10 лет. Это не преувеличение – так работает аппарат Coolifting. Мгновенный результат, стойкий лифтинг, свежесть, увлажненность и упругость кожи без боли, инъекций и хирургии. Просто 5 процедур по 5 минут – и вы выглядите так хорошо, как никогда.
                        .ui-sale-detail__title В чем секрет экспресс-омоложения Coolifting?
                        .ui-sale-detail__img
                            img.ui-img(src='http://salonfiore.ru/upload/medialibrary/83e/83e9980a8f39db9b9293cfff9075d036.jpg', title='Coolifting аппарат', alt='Coolifting аппарат')
                        p
                          | CooLifting® – патентованная разработка испанской компании BeautyGun, которая решает в комплексе все проблемы зрелой кожи. Аппарат работает по двум протоколам – омоложение плюс лифтинг, омоложение плюс осветление и пилинг. Какая из программ экспресс-омоложения лучше подойдет вам – узнайте на бесплатной консультации.
                        p
                          | Уникальность процедур coolifting в том, что компоненты проникают глубоко в кожу естественным путем за счет трансдермической системы доставки (TDS), которую эксперты уже назвали будущим косметологии. Проникающую способность молекул многократно усиливает сочетание высокого давления, CO2 и низких температур. Никогда раньше все эти факторы не использовались вместе.
                        .ui-sale-detail__title Цена
                        p
                          | Приглашаем вас испытать эффект первой процедуры всего за 6.000₽ - мы уверены, что результат будет настолько хорош, что вы захотите пройти весь курс (полный курс из 5 процедур стоит 32.500₽). Вторая и последующие процедуры (если не брать курс), 7500 рублей. Ждем вас в нашем салоне!
                        a.ui-sale-detail__link.ui-sale-detail__link--uppercase(href='/press/') К списку новостей
                .ui-sale-detail
                    .ui-sale-detail__content
                        .ui-sale-detail__heading Другие статьи
                .l-grid.l-grid--container
                    .l-row
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/c8a/c8a528a955ce2ae727762700823c5a90.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/detail/') Halloween Party 26-27-28 октября!
                                .ui-sale-cart__date 23 Октября 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/7f9/7f982c840525c8561c68b3b414b0d125.png')")
                                .ui-sale-cart__title
                                    a(href='/sale/2017/fiore-na-lady-mail-ru/') Fiore на lady.mail.ru
                                .ui-sale-cart__date 30 Апреля 2017
                        .l-col.l-col--xs-4.l-col--xs-flex
                            .ui-sale-cart
                                .ui-sale-cart__img(style="background-image: url('http://salonfiore.ru/upload/iblock/729/7291d4a956a624796fa5a9a597f54b9b.jpg')")
                                .ui-sale-cart__title
                                    a(href='/sale/detail/') Органическая косметика O’right - новинка
                                .ui-sale-cart__date 30 Апреля 2017
                        
