extends ../../_layouts/base

block config
  - var baseUrl = '../../'

block content
    .content
      .h5-online
        .news-list
          p#bx_1454625752_1642.news-item
            a.banner(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
        .clear
      .h5-left
        style.
          .h5-left ul li a.active {color: #E10084;}
        span.h1 Акции
        ul.left-menu-services
          li
            a(href='/sale/2009/') 2009
          li
            a(href='/sale/2010/') 2010
          li
            a(href='/sale/2011/') 2011
          li
            a(href='/sale/2012/') 2012
          li
            a(href='/sale/2013/') 2013
          li
            a(href='/sale/2014/') 2014
          li
            a(href='/sale/2015/') 2015
          li
            a(href='/sale/2016/') 2016
          li
            a.active(href='/sale/2017/') 2017
      .h5-right
        .single-news
          h1 Coolifting - новинка года! Минус 10 лет за 5 минут
          span 17 Сентября 2017
          p
            iframe(width='700', height='394', frameborder='0', src='https://www.youtube.com/embed/Ba5CV3IgPiw?rel=0&controls=0', allowfullscreen='')
          p
            img(src='http://salonfiore.ru/upload/medialibrary/989/9891764a37b408278e8925969a0f00e9.jpg', title='Coollifting - новинка года! Экспресс омоложение', border='0', alt='Coollifting - новинка года! Экспресс омоложение', width='700', height='350')
          p
            | Отличная новость для всех, кто доверяет нам свою красоту. Теперь вы сможете пройти уникальный курс экспресс-омоложения Coolifting. Это эксклюзивная технология, клинические испытания которой недавно завершились невероятным успехом.
          p
            | Всего за 5 процедур визуальный возраст кожи уменьшается на 10 лет. Это не преувеличение – так работает аппарат Coolifting. Мгновенный результат, стойкий лифтинг, свежесть, увлажненность и упругость кожи без боли, инъекций и хирургии. Просто 5 процедур по 5 минут – и вы выглядите так хорошо, как никогда.
          h2 В чем секрет экспресс-омоложения Coolifting?
          p
            img(src='http://salonfiore.ru/upload/medialibrary/83e/83e9980a8f39db9b9293cfff9075d036.jpg', title='Coolifting аппарат', border='0', alt='Coolifting аппарат', width='593', height='445')
          p
            | CooLifting® – патентованная разработка испанской компании BeautyGun, которая решает в комплексе все проблемы зрелой кожи. Аппарат работает по двум протоколам – омоложение плюс лифтинг, омоложение плюс осветление и пилинг. Какая из программ экспресс-омоложения лучше подойдет вам – узнайте на бесплатной консультации.
          p
            | Уникальность процедур coolifting в том, что компоненты проникают глубоко в кожу естественным путем за счет трансдермической системы доставки (TDS), которую эксперты уже назвали будущим косметологии. Проникающую способность молекул многократно усиливает сочетание высокого давления, CO2 и низких температур. Никогда раньше все эти факторы не использовались вместе.
          h2 Цена
          p
            | Приглашаем вас испытать эффект первой процедуры всего за 6.000₽ - мы уверены, что результат будет настолько хорош, что вы захотите пройти весь курс (полный курс из 5 процедур стоит 32.500₽). Вторая и последующие процедуры (если не брать курс), 7500 рублей. Ждем вас в нашем салоне!
          div(style='clear:both')
          br
          .clear
          br
          a(style='text-transform:uppercase;', href='/sale/2017/') К списку новостей
        div(style='background: #fff;\
        padding: 25px 0 25px 30px;\
        margin-bottom: 20px;')
          .h1 Другие статьи
        style(type='text/css').
          .photos-column{
          position: relative;
          width: 240px;
          float: left;
          margin-right: 15px;
          }
          .photos-column.column-2{
          margin: 0px;
          }
        #itemBlockHandler
          // <section id="photos">
          h1
          .photos-column.column-0
            #bx_766662027_1642.news-page
              span
                img(src='http://salonfiore.ru/upload/iblock/c8a/c8a528a955ce2ae727762700823c5a90.jpg', alt='')
              a(href='/sale/2017/halloween-26-27-28/') Halloween Party 26-27-28 октября!
              p 23 Октября 2017
          .photos-column.column-1
            #bx_766662027_1616.news-page
              span
                img(src='http://salonfiore.ru/upload/iblock/7f9/7f982c840525c8561c68b3b414b0d125.png', alt='')
              a(href='/sale/2017/fiore-na-lady-mail-ru/') Fiore на lady.mail.ru
              p 30 Апреля 2017
          .photos-column.column-2
            #bx_766662027_1615.news-page
              span
                img(src='http://salonfiore.ru/upload/iblock/729/7291d4a956a624796fa5a9a597f54b9b.jpg', alt='')
              a(href='/sale/2017/kosmetika-o-right-novinka/') Органическая косметика O’right - новинка
              p 30 Апреля 2017
          .clear
          // </section>
        .tempItemsHandler
        br
        .clear
        // Allnews end
      .clear
